<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fui.cloud.dao.fui.menu.MenuMapper">
	<select id="query" resultType="java.util.HashMap">
	    SELECT 
	      m.tree_ename      as "parent",
	      m.node_ename      as "label",
	      m.node_cname      as "text",
	      m.node_image_path as "imagePath",
	      m.node_type       as "leaf",
	      m.node_url 		as "url",
		  p.id              as "id"
	    FROM 
	    fui_menu m
		left join fui_permissions p on CONCAT(m.tree_ename, m.node_ename) = p.code
	    WHERE 1=1 and p.node_type = 0
      	<if test="node != null and node != ''">
        	and m.tree_ename = #{node}
        </if>
	    order by m.tree_ename asc, m.node_sort_id asc, m.node_ename asc
  	</select>

	<select id="queryMenuNodeBySelective" resultType="com.fui.cloud.model.fui.Menu">
		SELECT
			rec_creator     as "recCreator",
			rec_create_time as "recCreateTime",
			rec_revisor     as "recRevisor",
			rec_revise_time as "recReviseTime",
			archive_flag    as "archiveFlag",
			tree_ename as "pid",
			node_ename as "id",
			node_cname as "text",
			node_type  as "type",
			node_url   as "url",
			node_sort_id    as "sortId",
			node_param	as "param",
			node_image_path as "image"
		FROM
		fui_menu
		WHERE 1=1
		<if test="id != null and id != ''">
			and tree_ename = #{id}
		</if>
		<if test="node != null and node != ''">
			and node_ename = #{node}
		</if>
		<if test="nodeUrl != null and nodeUrl != ''">
			and node_url = #{nodeUrl}
		</if>
		order by tree_ename asc, node_sort_id asc, node_ename asc
	</select>
	
	<insert id="insertMenuNode" parameterType="com.fui.cloud.model.fui.Menu">
		insert into 
			fui_menu
		(
			rec_creator,
			rec_create_time,
			rec_revisor,
			rec_revise_time,
			archive_flag,
			tree_ename,
			node_ename,
			node_cname,
			node_type,
			node_url,
			node_sort_id,
			node_param,
			node_image_path
		)
		values
		(
			#{recCreator},
			#{recCreateTime},
			#{recRevisor},
			#{recReviseTime},
			#{archiveFlag},
			#{pid},
			#{id},
			#{text},
			#{type},
			#{url},
			#{sortId},
			#{param},
			#{image}
		)
	</insert>
	
	<update id="deleteMenuNodeById" parameterType="com.fui.cloud.model.fui.Menu">
        delete from
        	fui_menu
       	where tree_ename=#{pid} and node_ename=#{id}
    </update>
    
	<update id="updateMenuNodeById" parameterType="com.fui.cloud.model.fui.Menu">
        update 
        	fui_menu
       	set 
	       	rec_revisor=#{recRevisor},
	       	rec_revise_time=#{recReviseTime},
	       	node_cname=#{text},
	       	node_type=#{type},
	       	node_sort_id=#{sortId},
	       	node_url=#{url},
	       	node_param=#{param},
	       	node_image_path=#{image}
       	where tree_ename=#{pid} and node_ename=#{id}
    </update>
</mapper>
