
/*
----通用样式抽取 供换肤统一配置使用----
*/
._1背景颜色_hover,
.ef-state-hover
{
	background-color: #2e6e9e;
}

._1背景_条状背景,
.ef-form-status-bar,
.ef-form-guide,
.ef-grid-content .ef-header
{
	background:#F6F6F6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
}

._1背景_widgetHead,
.benma_ui_tab,
#cboxTitle
{
	background: #cccccc url(images/ui-bg_gloss-wave_75_cccccc_500x100.png) 50% 50% repeat-x; 
}

._1背景_overlay, /* 同Jquery .ui-widget-overlay 定义 */
#cboxOverlay  /* colorBox 遮盖层 */
{
	background: #eeeeee url(images/ui-bg_flat_0_eeeeee_40x100.png) 50% 50% repeat-x;
	opacity: .8;
	filter: Alpha(Opacity = 80);
}

._1背景_透明背景,
.ef-form-guide a,
.ef-region-configMenuDiv a
{
	background:transparent;
}

._1颜色_整体,
.ef-tree-div,
#colorbox
{
    color: black;
    background-color:#f2f2f2;
    
}

._1颜色_空白内容,
BODY.ef-form-iframe-body, /*TAB内的iframe BODY样式*/
.ef-region-content.ef-region-data-content,
.ef-tab-content,
.ui-widget-content
{
    background:white;
    color: black;
}

._1颜色_底色内容,
.ef-region-content,
.ef-tab-content
{
    background: white;
    color: black;  
}

._1颜色_default,
input[type="button"],
.ef-region-expand,
.ef-region-expand.ef-state-hover,
.benma_ui_tab .tab_item1,
.benma_ui_tab .tab_item2,
.benma_ui_tab .tab_item3,
.ef-menu-bar,
.ef-button.ef-state-default
{
	background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
 	color: #2E6E9E;
}

._1颜色_hover,
input[type="button"]:hover,
#efFormConfigMenu .ui-state-hover,
#efRegionConfigMenu .ui-state-hover,
.ef-input-popup:hover,
.ef-splitter-vertical:hover,
.ef-splitter-vertical.ui-draggable-dragging,
.ef-grid-funcImgButtonTD.ef-state-default.ef-state-hover, /*EfGrid图标按钮*/
.ef-grid-navigationBar .ef-state-hover,
.ef-grid-content .ef-grid-tableRow-Selected.tableRow0, /*EfGrid鼠标悬浮行样式*/
.ef-grid-content .ef-grid-tableRow-Selected.tableRow1, /*EfGrid鼠标悬浮行样式*/
.ef-grid-content .ef-grid-tableRow-Selected a, 
.ef-state-hover.ef-button,  
.ef-state-hover.ef-grid-tableHeaderColumn,  
.ef-grid-tableHeader-tableTR td.ef-state-hover,
.benma_ui_tab .tab_item1_mouseover,
.benma_ui_tab .tab_item2_mouseover,
.benma_ui_tab .tab_item3_mouseover,
.benma_ui_tab .tab_close:hover,
.ef-menu a:hover,
 a.ef-menu-hover,
.ef-menu-hover a:hover,
.ef-tree-item a:hover,
#cboxClose:hover,
.ef-form-guide a.ui-state-hover
{
	background: #2e6e9e !important;
    color:white !important;
}

._1颜色_active,
input[type="button"]:active,
.ef-grid-tableRow-Highlight,
.benma_ui_tab .tab_item1_selected,
.benma_ui_tab .tab_item2_selected,
.benma_ui_tab .tab_item3_selected,
.ef-tree-item .ef-tree-item-current
{
background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
color: #cc0000;
}

._2字体_标准样式, 
BODY,
tr, td,
.ef-form-head-title,
.ef-tree-item,
.ef-widget,
.ui-widget,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,
.ui-autocomplete .ui-menu-item a,
.ef-menu a, 
.ef-menu a:visited 
{
	font-family:"微软雅黑","Microsoft yahei","Tahoma","Verdana","Arial","sans-serif";
    font-size: 12px;
}

._2字体_IE, 
BODY.ef-form-ie,
.ef-form-ie tr, 
.ef-form-ie td
{
	 /* font-family:"tahoma", "宋体", "sans-serif", !important; */ 
}

._2字体_等宽样式,
textarea,
.ef-grid-content .tableRow0,
.ef-grid-content .tableRow1,
.ef-grid-content td
{
    font-family: Consolas, 微软雅黑, 宋体, arial;
    font-size: 12px;
}

._3圆角,
input[type="button"],
.ef-input-popup,  /*EFInput图标按钮*/
.ui-dialog.ui-widget-content,
#ui-datepicker-div,
.ef-widget-shadow,
.ef-region-border,
.ef-tab-border,
.ef-menu,
.ef-tree-div,
#colorbox
{ 
	border-radius: 4px;    
}

._3阴影_区域,
.ef-region-border,
.ef-tab-border,
.ef-tree-div
{ 
	box-shadow: 0 1px 3px #ddd; 	
}

._3阴影_无阴影,
.ef-form-iframe-body .ef-region-border,
.ef-form-iframe-body .ef-tab-border,
.ef-tab-border .ef-region-border
{   
	box-shadow: none; 	
}

._3阴影_弹出层,
.ui-dialog.ui-widget-content,
.ef-widget-shadow,
.ef-menu,
#ui-datepicker-div,
#colorbox
{ 
	box-shadow: 0 3px 8px rgba(0, 0, 0, .5); 	
}

._3边框_标准,
input[type="button"],
.ui-dialog.ui-widget-content,
#ui-datepicker-div,
.ef-form-guide,
.ef-form-status-content,
.ef-splitter-vertical,
.ef-widget-shadow,
.ef-state-default.ef-button,
.ef-region-border,
.ef-state-default.ef-region-border,
.ef-grid-border,
.ef_tree_grid_class,
.ef-tab-border,
.benma_ui_tab li,
.ef-menu,
.ef-tree-div,
#colorbox
{ 
	border: solid 1px  #DDD;	
}

._3边框_警告,
.ef-state-error,
input.ef-state-error
{ 
	border:solid 1px #FF0084 !important;
}

._3边框_透明边框,
.ef-state-hover.ef-button,
.ef-grid-navigationBar .ef-state-default,
.ef-grid-navigationBar .ef-state-hover,
/*grid工具栏图片按钮*/
.ef-grid-content  .ef-state-default.ef-grid-funcImgButtonTD 
{ 
	border: 1px solid transparent;
}

._3边框_hover
{ 
	border-top: solid 1px #2e6e9e;	
	border-bottom: solid 1px #2e6e9e;	
	border-left: solid 1px #2e6e9e;	
	border-right: solid 1px #2e6e9e;	
}

._4图片_文件,
.ef-icon,
.ef-state-default > .ef-icon,
.ef-grid-funcImgButtonTD span,
.ef-region-headerButton.ef-state-hover > .ef-icon,
.ef-form-configDiv.ef-state-hover > .ef-icon
{
	background-image: url(images/ef-icons_2e6e9e.png);
}

._4图片_文件_禁用,
.ef-state-disabled .ef-icon, 
/* 总计按钮 */
.ef-state-disabled.ef-icon-total 
{
	background-image: url(images/ef-icons_888888.png);
}

/* 菜单等结合底色变化的悬浮图标效果 */
._4图片_文件_hover,
#efFormConfigMenu .ef-state-hover > .ef-icon,
#efRegionConfigMenu .ef-state-hover > .ef-icon,
.ef-grid-funcdiv td.ef-state-hover .ef-icon,  /*EfGrid图标按钮*/
.ef-input-popup.ef-state-hover .ef-icon,
.ef-state-hover > .ef-icon
{
	background-image: url(images/ef-icons_ffffff.png);
}

/* 结合底色变化的jQuery图标效果 */
._4图片_jQuery文件_hover,
.ef-splitter-vertical:hover .ef-splitter-stick,
.ef-splitter-vertical.ui-draggable-dragging .ef-splitter-stick
{
    background-image: url(images/ui-icons_ffffff_256x240.png);
}

._4图片_按钮大小,
.ef-icon,
.ef-state-default > .ef-icon,
.ef-state-disabled .ef-icon,
.ef-grid-funcImgButtonTD span,
.ef-input-popup,  /*EFInput图标按钮*/
#cboxClose
{
	width: 17px;
	height: 17px;
}

._4图标_close_default,
.benma_ui_tab .tab_close_noselected,
.benma_ui_tab .tab_item2_selected .tab_close,
#cboxClose
{
	background-image: url(images/ui-icons_2E6E9E_256x240.png);
	background-position:-32px -192px;
	text-indent:-9999px;
	width:16px;
	height:16px;
}

._4图标_close_hover,
.benma_ui_tab .tab_item2_mouseover .tab_close_noselected,
.benma_ui_tab .tab_close:hover,
#cboxClose:hover
{
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position:-32px -192px;
	text-indent:-9999px;
	width:16px;
	height:16px;
}

._5鼠标_hover,
.ef-input-popup:hover,
.ef-icon:hover
{
	cursor:pointer;
}


/****************************/
/* Basic                    */
/****************************/
#leftTree {
    font-size:62.5%;
	padding:5px;
	
	/*background:transparent url(images/main-background.png) repeat;*/
}

.bodyBackground TABLE {
	border-spacing: 0px;
}

/****************************/
/* Icon                     */
/****************************/
.ef-icon-dummy, 
span.ef-icon {
	float:left;
}

/****************************/
/* 输入框                   */
/****************************/
.ef-input-required-block {
	border-left:solid 2px  #FF0084;
}

.ef-input-popup {
	padding:3px;
	padding-bottom:4px;
    margin:0px;
    
}

/****************************/
/* Form Head                */
/****************************/
.ef-form-head {
    padding:2px;
	padding-left:5px;
    margin-bottom:2px;        
}

.ef-form-head a
{
	background:transparent;
}

.ef-form-head-title {
	font-size: 120%;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	height:20px;
	text-align:left;
    line-height: 1.7;
}

.ef-form-head-dummy,
iframe .ef-form-head 
{
  display:none;	
}

/****************************/
/* 状态行                   */
/****************************/
.ef-form-status-dummy,
#efFormStatus {
	font-weight: normal;
}

/****************************/
/* 导航条                   */
/****************************/
.ef-form-guide-dummy {
	font-weight: normal;
}

/****************************/
/* Region                   */
/****************************/
/*region整体样式*/
.ef-region-border {
    margin-top:0px; 
    margin-bottom:7px;    
}

/*EFRegion标题*/
.ef-region-title {
	color:#0073EA;
	font-size:120%;
	font-weight:bold;
}

/*EFRegion标题*/
.ef-region-dummy,
.ef-state-hover.ef-region-border > DIV >table.ef-container-header .ef-region-title{
	/*background:url(Images/effectBg/BgFill-2.png) #f5f8f9;*/
	color:#e17009;
	
	font-size:120%;
	font-weight:bold;
}

.ef-region-dummy,
.ef-state-default .ef-region-title {
	color:black;
	font-size:120%;
	font-weight:bold;
}

.ef-region-configMenuDiv a
{
	background:transparent;
}

.ef-region-content {
    padding:0px; 
	
	padding-left:5px; 
    padding-right:5px;
	/*
    *有padding的时候，多grid并排会使页面超出页面长度导致换行
	*/
	
	padding-bottom:5px;		
}

.ef-region-footer{
    padding:0px; 
    
    padding-top:4px; 
    /* padding-bottom:4px; */
    
    margin-top:2px;
}

/****************************/
/* Grid                     */
/****************************/
/*
----EFGrid工具条所在DIV----
*/
.ef-grid-func { /**/

    font-weight: Bold;
    color: #2E6E9E;
    line-height: 1.4;
    height:30px;

    border:solid 0px #C5DBEC;
	border-bottom:solid 1px #ddd;
	
	padding-top:2px;
	padding-right:2px;
}

/*--EfGrid单元格样式--*/

.ef-grid-table DIV {
    white-space: nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;

}

/*
----EFGrid表头单元格---
*需要放在.ef-grid-table DIV 下面
*/

/*--EFGrid单元格--*/
.ef-grid-tableHeader-tableTR td, 
.ef-grid-tableHeader-tableTR th 
{/* ,.columnHighlight td */
	HEIGHT: 24px;
    white-space: nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
	padding-right:1px;
	vertical-align:middle;
	line-height:2;
	
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	/*border-right:1px solid white;*/
}
	
/*--EFGrid数据列样式--*/
/*EfGrid偶数行样式*/
.ef-grid-content .tableRow0 {
    background: white;
    color: black;
    rowHeight:29px;/*css中没有rowHeight属性 但efgrid会读取并根据此属性设置各div高度*/
    /* line-height: 150%;*/
}


/*EfGrid奇数行样式*/
.ef-grid-content .tableRow1 {
    background: #F2F2F2;
    color: black;
    rowHeight:29px;
    /* line-height: 150%; */
}

/*EfGrid选中行样式*/
.ef-grid-content .ef-grid-tableRow-CurrentRow {
    color:#CC0000;
}

/*EFGrid勾选行样式*/
.ef-grid-content .ef-grid-tableRow-Highlight {
	background:#fbec88 ;
}

.ef-grid-content .ef-grid-tableRow-Selected td, 
.ef-grid-content .ef-grid-tableRow-CurrentRow td, 
.ef-grid-content .ef-grid-tableRow-Highlight td, 
.ef-grid-content .tableRow0 td, 
.ef-grid-content .tableRow1 td
{
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding-right:1px;
	vertical-align:middle;
	line-height:2;
}

/*EFGrid的导航工具条*/
.ef-grid-navigationBar {
	margin-right:4px;
}

.ef-grid-navigationBar SPAN {
	margin:0px;
}

/****************************/
/* Splitter                 */
/****************************/
.ef-splitter-vertical-td {
	width:6px;
}

.ef-splitter-vertical  {
	width: 4px;
	
	position:relative;
	
    margin-left:0px;
	margin-right:0px;
	
	/*background: #F6F6F6 url(images/efsplitter.gif) no-repeat center;*/	
	background: #F6F6F6 url(images/efsplit-panel-vert.gif);	
	
	cursor:e-resize;
    height: 100%; min-height: 40px;
}

.ef-splitter-stick {
	position:absolute;

    margin-top:-8px;
    top:50%;
	
	width: 16px;
	height:16px;
	
	margin-left:-5px;
			
}


/****************************/
/* Dialog                   */
/****************************/
.ui-dialog {
	background: white;
    padding:4px;
}

.ui-dialog-titlebar {
	margin-bottom:2px;
}

.ui-dialog .ui-dialog-buttonpane button { 
	margin: 2px; 
}

.ui-dialog .ui-dialog-buttonpane {

  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  background-color: #f5f5f5;
  padding: 5px 15px 5px;

  border-top: 1px solid #ddd;
  
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  
  zoom: 1;
  margin-bottom: 0;

}

.ui-state-focus a 
{ 
	color: #b22222 !important; 
	text-decoration: none; 
}

/****************************/
/* ColorBox                 */
/****************************/
.ef-colorbox-dummy,
#cboxContent {
	background:transparent;
    margin:4px;
}

.ef-colorbox-dummy,
#cboxLoadedContent 
{
	margin-top:30px;
}

.ef-colorbox-dummy,
#cboxTitle {

	border-radius: 0px;    

	color: #444444;

    font-size: 14px;
	font-weight: bold;

	top:2px;
	
	padding-top:3px;
	padding-bottom:3px;
	
	width:100%;
}

.ef-colorbox-dummy,
#cboxClose {
	right:7px;
	top:7px;
}

/****************************/
/* TAB                      */
/****************************/
.ef-tab-border  {
    margin-top:0px; 
    margin-bottom:7px;
}

.ef-tab-content  {
    padding:2px;   
    padding-top:5px;   
}

.benma_ui_tab {
	border: 0px;
	border-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;

	color: #444444;
	
	padding:0px;
    margin:0px;	
    
}

.benma_ui_tab #jquery_tab_div {
	margin-top:9px;;
	margin-left:4px;;
	margin-bottom:0px;
}

.benma_ui_tab li {
	border-bottom:0px;
}

.benma_ui_tab_dummy,
#jquery_tab_div_content.tab-div-content {
	border:none;
	padding:0px;
	background:white;
}

.benma_ui_tab_iframe {
	border:none;
}

/****************************/
/* MENU                     */
/****************************/
/*--EFMenu样式--*/
/*二级菜单的大背景*/
.ef-menu {
    position: absolute;
    z-index: 100;
    visibility: hidden;
 
    width: 165px;
    
    background: white;
    color:black;

    text-align:left;
	
	padding:4px;
	
	margin-left:0;
	margin-top:2px;
	
}

/*二级菜单正常状态*/
.ef-menu a,.ef-menu a:visited {
    display: block;
    width: 100%;

    overflow: visible;
    padding: 4px 0px 4px 0px;

	font-size: 120%;
	font-weight: bold;
    text-decoration:none;
    
    border-top:solid 1px #ddd;
    border-bottom:none;
    border-left:none;
    border-right:none;

}

/* 去除第一个结点的border */
.ef-menu a:first-child {
    border-top:none;
}

/*一级菜单正常状态*/
.ef-menu-bar {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;

	height:25px;
	text-align:center;

    line-height: 1.7;
}

/****************************/
/* MENU                     */
/****************************/
.ef-tree-div {
  padding-top:7px;
  
  margin:0px;   
}
.ef-tree-item a {
	text-decoration:none;
	}
