@charset "utf-8";
/* CSS Document */
body{
	padding:0; 
	margin:0;
	font-family:Arial, Helvetica, sans-serif , "宋体,微软雅黑";
	width:100%;
}
.content{
	margin:0 auto;
}
img{border:none;}
a{
	text-decoration:none; 
	border:none; 
	cursor:pointer;
}
a:hover{
	color:#f6a516;
	cursor:pointer;}

li { list-style: none; }

.login{
	height:auto;
	margin-top:40px;
	border-radius:2px;
}
.box_con,.current{font-size:14px; color:#bbc2dc; border:0; width:267px; float:left;}
.box_con input,.current input{ border:0px none; width:267px; color:#999; float:left;}
	
.head{
	background:url(new_images/index_topmenu_background.png) repeat-x;
	width:100%;
	min-width:1000px;
	height:65px;
	position:fixed;
	z-index:100;
}
.nav_menu{
	float:right;
}
.logo{ 
	float:left; 
	width:300px; 
	margin-left:10px;
}
.nav_menu ul{ padding:0px; margin:0px;}
.nav_menu li{
	float:left; 
	text-align:center; 
	cursor:pointer; 
	list-style:none;
	color:#fff;
}
.nav_menu li a{
	line-height:60px;
	display:inline-block;
	padding:0px 10px;
	color: #fff;
}
.nav_menu li a:hover{
	color: #ff7200;
	background:#6a0305;
}
.nav_menu li a.hover{
	color: #ff7200;
	background:#6a0305;
}

.warnbgimg{ 
	position:relative; 
	top:-10px; 
	background:url(new_images/remind_circle.png); 
	width:15px; 
	height:15px; 
	display:inline-block; 
	line-height:14px;
}
.tips{ 
	color:#888888; 
	font-size:12px; 
	height:35px; 
	line-height:35px; 
	padding:0px 10px;
}

/*menu hide*/
.menu{
	position:absolute;
  	left:0px;
  	top:60px;
  	z-index:10001;
	width:100%;
}
.tab_menu{
	width:100%;
	/*height:50px;*/
	background:#6a0305;
	border-bottom:1px solid #440002;
	float:left;
	min-width:1200px;
	overflow:auto;
}
.tab_menu ul{ 
	padding:0px; 
	margin:0px;
}
.tab_menu li{
	float:left; 
	text-align:left; 
	cursor:pointer; 
	list-style:none;
	font-size:14px;
	height:50px;
	line-height:50px;
	color:#d5e9fe;
	font-weight:bold;
	padding:0 20px;
	min-width:100px;
}
.tab_menu li.hover {
	background:#fd7202;
}
.tab_menu li.selected { 
	color:#FFF; 
	background:#fd7202;
}
.tab_con { 
	background:#fff;
	border-top:0;
	border-bottom:1px solid #d0d0d0;
	}
.tab_box { 
	padding:20px;	
}
.tab_box ul{ padding:0px; margin:0px;}
.tab_box li{
	float:left; 
	list-style:none;
	cursor:pointer; 
	font-size:12px; 
	padding-top:10px;
}
.tab_box li.title{
	font-weight:bold;
	width:130px;
	padding-left:30px;
	text-align:left;
}
.tab_box li.con{
	width:130px;
	padding-left:30px;
}
.tab_box li a:hover {
	color:#fd6a00;
	text-decoration:none;
}
.hide{ display:none;}
.default{ background:#c0c0c0;border:1px solid #bcbcbc;}
.blue{ background:#006cce;border:1px solid #015caf;}
.red{ background:#c3181d;border:1px solid #a6070c;}
.black{ background:#363636;border:1px solid #1f1f1f;}
.orange{ background:#ffaa00;border:1px solid #ec9e02;}
.skyblue{ background:#02c0c0;border:1px solid #03a7a7;}

.color_6d6d6d{color:#6d6d6d;}
.color_9d9d9d{color:#9d9d9d;}
.border_d0d0d0{border:1px solid #d0d0d0;}

.dropdownMenu {
    background-clip: padding-box;
    background-color: #fff;
	z-index:99999;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    font-size: 14px;
    right:0;
	top:60px;
    list-style: none outside none;
    position:fixed;
    text-align: center;
	width:94px;
	
}
.dropdownMenu li{
	padding:14px;
	color:#666;
}
.nav li a.hover{
	background:#004cao;
}
.dropdownMenu li{ cursor:pointer;}
.dropdownMenu li:hover{ background:#E4E4E4;}
.dropdownMenu .color{ display:inline-block; width:20px; height:12px;}
.more{ float:left; line-height:50px;}
.more a{color:#fff; text-decoration:none;}

.bak_logo{display:inline-block; width:181px; height:44px; background:url(new_images/logo.png) no-repeat;}
.title-line{display:inline-block; width:1px; height:34px; background:url(new_images/title-line.png) no-repeat;}


.icon_tikuan{display:inline-block; width:46px; height:46px; background:url(new_images/icon_tikuan.png) no-repeat;}
.icon_bujian{display:inline-block; width:46px; height:46px; background:url(new_images/icon_bujian.png) no-repeat;}
.icon_yapin{display:inline-block; width:46px; height:46px; background:url(new_images/icon_yapin.png) no-repeat;}
.icon_jiafang{display:inline-block; width:46px; height:46px; background:url(new_images/icon_jiafang.png) no-repeat;}
.icon_hetong{display:inline-block; width:46px; height:46px; background:url(new_images/icon_hetong.png) no-repeat;}
.icon_chongshen{display:inline-block; width:46px; height:46px; background:url(new_images/icon_chongshen.png) no-repeat;}
.icon_dianhe{display:inline-block; width:46px; height:46px; background:url(new_images/icon_dianhe.png) no-repeat;}
.icon_qianfa{display:inline-block; width:46px; height:46px; background:url(new_images/icon_qianfa.png) no-repeat;}

.icon_new{display:inline-block; width:22px; height:9px; background:url(new_images/new.gif) no-repeat;}

/*自定义菜单*/
.icon_noimage{display:inline-block; width:45px; height:45px; background:url(menu_icons/noimage.png) no-repeat;}

.icon_anniuziyuanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/anniuziyuanguanli.png) no-repeat;}
.icon_bangzhuwendang{display:inline-block; width:45px; height:45px; background:url(menu_icons/bangzhuwendang.png) no-repeat;}
.icon_biangengrizhichaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/biangengrizhichaxun.png) no-repeat;}
.icon_bujianqingdanjiaojie{display:inline-block; width:45px; height:45px; background:url(menu_icons/bujianqingdanjiaojie.png) no-repeat;}
.icon_caidanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/caidanguanli.png) no-repeat;}
.icon_canshushezhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/canshushezhi.png) no-repeat;}
.icon_chanpinjuzhencanshushezhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/chanpinjuzhencanshushezhi.png) no-repeat;}
.icon_chanpinpeizhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/chanpinpeizhi.png) no-repeat;}
.icon_cundaikuanlilv{display:inline-block; width:45px; height:45px; background:url(menu_icons/cundaikuanlilv.png) no-repeat;}
.icon_daibanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/daibanguanli.png) no-repeat;}

.icon_daibanliebiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/daibanliebiao.png) no-repeat;}
.icon_dailiguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/dailiguanli.png) no-repeat;}
.icon_daiqidongliuchengshenqing{display:inline-block; width:45px; height:45px; background:url(menu_icons/daiqidongliuchengshenqing.png) no-repeat;}
.icon_daixiaojijinjingzhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/daixiaojijinjingzhi.png) no-repeat;}
.icon_daopanjiandaoru{display:inline-block; width:45px; height:45px; background:url(menu_icons/daopanjiandaoru.png) no-repeat;}
.icon_dengjishenqingshu{display:inline-block; width:45px; height:45px; background:url(menu_icons/dengjishenqingshu.png) no-repeat;}
.icon_dianziyinhangyewudongtai{display:inline-block; width:45px; height:45px; background:url(menu_icons/dianziyinhangyewudongtai.png) no-repeat;}
.icon_dianziyinhangyouhuihuodong{display:inline-block; width:45px; height:45px; background:url(menu_icons/dianziyinhangyouhuihuodong.png) no-repeat;}
.icon_fangdaijisuanqi{display:inline-block; width:45px; height:45px; background:url(menu_icons/fangdaijisuanqi.png) no-repeat;}
.icon_fengxianglanjiexiangpeizhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/fengxianglanjiexiangpeizhi.png) no-repeat;}

.icon_fenpeipicijiaojie{display:inline-block; width:45px; height:45px; background:url(menu_icons/fenpeipicijiaojie.png) no-repeat;}
.icon_fujianfenlei{display:inline-block; width:45px; height:45px; background:url(menu_icons/fujianfenlei.png) no-repeat;}
.icon_fuwujiamu{display:inline-block; width:45px; height:45px; background:url(menu_icons/fuwujiamu.png) no-repeat;}
.icon_gangweiguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/gangweiguanli.png) no-repeat;}
.icon_gerenheimingdanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/gerenheimingdanguanli.png) no-repeat;}
.icon_gerenhuimingdanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/gerenhuimingdanguanli.png) no-repeat;}
.icon_gerenkehuxinxiweihu{display:inline-block; width:45px; height:45px; background:url(menu_icons/gerenkehuxinxiweihu.png) no-repeat;}
.icon_gerenlicaichanpinxinxi{display:inline-block; width:45px; height:45px; background:url(menu_icons/gerenlicaichanpinxinxi.png) no-repeat;}
.icon_gerenyewudongtai{display:inline-block; width:45px; height:45px; background:url(menu_icons/gerenyewudongtai.png) no-repeat;}
.icon_gongsilicaichanpinxinxi{display:inline-block; width:45px; height:45px; background:url(menu_icons/gongsilicaichanpinxinxi.png) no-repeat;}

.icon_gongsiyewudongtai{display:inline-block; width:45px; height:45px; background:url(menu_icons/gongsiyewudongtai.png) no-repeat;}
.icon_gongzhengxinxi{display:inline-block; width:45px; height:45px; background:url(menu_icons/gongzhengxinxi.png) no-repeat;}
.icon_guijinshushoupanjia{display:inline-block; width:45px; height:45px; background:url(menu_icons/guijinshushoupanjia.png) no-repeat;}
.icon_hezuofangliebiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/hezuofangliebiao.png) no-repeat;}
.icon_hezuofangxiangmuliebiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/hezuofangxiangmuliebiao.png) no-repeat;}
.icon_huicaiyijingling{display:inline-block; width:45px; height:45px; background:url(menu_icons/huicaiyijingling.png) no-repeat;}
.icon_jiaojieqingdanshangchuan{display:inline-block; width:45px; height:45px; background:url(menu_icons/jiaojieqingdanshangchuan.png) no-repeat;}
.icon_jiaojindaoru{display:inline-block; width:45px; height:45px; background:url(menu_icons/jiaojindaoru.png) no-repeat;}
.icon_jigourenyuanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/jigourenyuanguanli.png) no-repeat;}
.icon_jilujiquanxianguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/jilujiquanxianguanli.png) no-repeat;}

.icon_ajinjianleixingguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/jinjianleixingguanli.png) no-repeat;}
.icon_jizhunlilvchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/jizhunlilvchaxun.png) no-repeat;}
.icon_jueseguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/jueseguanli.png) no-repeat;}
.icon_juesehuchiguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/juesehuchiguanli.png) no-repeat;}
.icon_kehudaikuanquanshituchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/kehudaikuanquanshituchaxun.png) no-repeat;}
.icon_kehufengxianxianepeizhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/kehufengxianxianepeizhi.png) no-repeat;}
.icon_kuaijiecaidan{display:inline-block; width:45px; height:45px; background:url(menu_icons/kuaijiecaidan.png) no-repeat;}
.icon_lanjiefanganpeizhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/lanjiefanganpeizhi.png) no-repeat;}
.icon_mimashezhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/mimashezhi.png) no-repeat;}
.icon_qingfenluru{display:inline-block; width:45px; height:45px; background:url(menu_icons/qingfenluru.png) no-repeat;}

.icon_qiyewangyinyanshi{display:inline-block; width:45px; height:45px; background:url(menu_icons/qiyewangyinyanshi.png) no-repeat;}
.icon_renwulingqu{display:inline-block; width:45px; height:45px; background:url(menu_icons/renwulingqu.png) no-repeat;}
.icon_shanghaiyinhangkuaixun{display:inline-block; width:45px; height:45px; background:url(menu_icons/shanghaiyinhangkuaixun.png) no-repeat;}
.icon_shenhezushezhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/shenhezushezhi.png) no-repeat;}
.icon_shenpigongzuoliangshishichaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/shenpigongzuoliangshishichaxun.png) no-repeat;}
.icon_shenqingjianxinxichaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/shenqingjianxinxichaxun.png) no-repeat;}
.icon_shenqingjiarubujianqingdan{display:inline-block; width:45px; height:45px; background:url(menu_icons/shenqingjiarubujianqingdan.png) no-repeat;}
.icon_shenqingjinduchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/shenqingjinduchaxun.png) no-repeat;}
.icon_superduilie{display:inline-block; width:45px; height:45px; background:url(menu_icons/superduilie.png) no-repeat;}
.icon_tiaodan{display:inline-block; width:45px; height:45px; background:url(menu_icons/tiaodan.png) no-repeat;}

.icon_waihuipaijia{display:inline-block; width:45px; height:45px; background:url(menu_icons/waihuipaijia.png) no-repeat;}
.icon_wodeduilie{display:inline-block; width:45px; height:45px; background:url(menu_icons/wodeduilie.png) no-repeat;}
.icon_wodefengge{display:inline-block; width:45px; height:45px; background:url(menu_icons/wodefengge.png) no-repeat;}
.icon_woderenwu{display:inline-block; width:45px; height:45px; background:url(menu_icons/woderenwu.png) no-repeat;}
.icon_wodexinxi{display:inline-block; width:45px; height:45px; background:url(menu_icons/wodexinxi.png) no-repeat;}
.icon_xiangmushenqing{display:inline-block; width:45px; height:45px; background:url(menu_icons/xiangmushenqing.png) no-repeat;}
.icon_xinyongkayouhuihuodong{display:inline-block; width:45px; height:45px; background:url(menu_icons/xinyongkayouhuihuodong.png) no-repeat;}
.icon_xitongtongzhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/xitongtongzhi.png) no-repeat;}
.icon_yewushenqing{display:inline-block; width:45px; height:45px; background:url(menu_icons/yewushenqing.png) no-repeat;}
.icon_yibanliebiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/yibanliebiao.png) no-repeat;}

.icon_yingxiangsaomiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/yingxiangsaomiao.png) no-repeat;}
.icon_yingyonggongnengguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/yingyonggongnengguanli.png) no-repeat;}
.icon_yishenpijianrubujianqingdan{display:inline-block; width:45px; height:45px; background:url(menu_icons/yishenpijianrubujianqingdan.png) no-repeat;}
.icon_yonghushouquan{display:inline-block; width:45px; height:45px; background:url(menu_icons/yonghushouquan.png) no-repeat;}
.icon_yushenqingfenpei{display:inline-block; width:45px; height:45px; background:url(menu_icons/yushenqingfenpei.png) no-repeat;}
.icon_zhongxiaoqiyeyewudongtai{display:inline-block; width:45px; height:45px; background:url(menu_icons/zhongxiaoqiyeyewudongtai.png) no-repeat;}
.icon_zhuguanduilie{display:inline-block; width:45px; height:45px; background:url(menu_icons/zhuguanduilie.png) no-repeat;}
.icon_zidianguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/zidianguanli.png) no-repeat;}
.icon_ziliaoshouqushezhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/ziliaoshouqushezhi.png) no-repeat;}
.icon_ziliaozushezhi{display:inline-block; width:45px; height:45px; background:url(menu_icons/ziliaozushezhi.png) no-repeat;}


.icon_zuixingonggao{display:inline-block; width:45px; height:45px; background:url(menu_icons/zuixingonggao.png) no-repeat;}
.icon_zuixintixing{display:inline-block; width:45px; height:45px; background:url(menu_icons/zuixintixing.png) no-repeat;}

.icon_banmianguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/banmianguanli.png) no-repeat;}
.icon_bujianshenhechufa{display:inline-block; width:45px; height:45px; background:url(menu_icons/bujianshenhechufa.png) no-repeat;}
.icon_chanpinshenpilvchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/chanpinshenpilvchaxun.png) no-repeat;}
.icon_chufajieguochaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/chufajieguochaxun.png) no-repeat;}
.icon_dangrishishigongzuoliangchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/dangrishishigongzuoliangchaxun.png) no-repeat;}
.icon_danweiheimingdanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/danweiheimingdanguanli.png) no-repeat;}
.icon_danweiheimingdanribaobiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/danweiheimingdanribaobiao.png) no-repeat;}
.icon_danyikehueduchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/danyikehueduchaxun.png) no-repeat;}
.icon_dengdachacuojiluribaobiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/dengdachacuojiluribaobiao) no-repeat;}
.icon_duanxinmubanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/duanxinmubanguanli.png) no-repeat;}

.icon_duilieweihu{display:inline-block; width:45px; height:45px; background:url(menu_icons/duilieweihu.png) no-repeat;}
.icon_eduqianfaguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/eduqianfaguanli.png) no-repeat;}
.icon_fangkuanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/fangkuanguanli.png) no-repeat;}
.icon_gaofengxianjianchufa{display:inline-block; width:45px; height:45px; background:url(menu_icons/gaofengxianjianchufa.png) no-repeat;}
.icon_gerenheimingdanribaobiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/gerenheimingdanribaobiao.png) no-repeat;}
.icon_gongwukaguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/gongwukaguanli.png) no-repeat;}
.icon_hetongguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/hetongguanli.png) no-repeat;}
.icon_hetongmobanchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/hetongmobanchaxun.png) no-repeat;}
.icon_jiakuaishenhejianchufa{display:inline-block; width:45px; height:45px; background:url(menu_icons/jiakuaishenhejianchufa.png) no-repeat;}
.icon_jiejiariweihu{display:inline-block; width:45px; height:45px; background:url(menu_icons/jiejiariweihu.png) no-repeat;}

.icon_jigoukuozhanxinxiweihu{display:inline-block; width:45px; height:45px; background:url(menu_icons/jigoukuozhanxinxiweihu.png) no-repeat;}
.icon_jinjianliuchengguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/jinjianliuchengguanli.png) no-repeat;}
.icon_kachanpindengjieduguanl{display:inline-block; width:45px; height:45px; background:url(menu_icons/kachanpindengjieduguanl.png) no-repeat;}
.icon_kachanpinguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/kachanpinguanli.png) no-repeat;}
.icon_pichulijiankong{display:inline-block; width:45px; height:45px; background:url(menu_icons/pichulijiankong.png) no-repeat;}
.icon_renwufenpeihaoguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/renwufenpeihaoguanli.png) no-repeat;}
.icon_renyuanxiujiaguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/renyuanxiujiaguanli.png) no-repeat;}
.icon_shishiduilieqingkuangchaxun{display:inline-block; width:45px; height:45px; background:url(menu_icons/shishiduilieqingkuangchaxun.png) no-repeat;}
.icon_shishiyewuliang{display:inline-block; width:45px; height:45px; background:url(menu_icons/shishiyewuliang.png) no-repeat;}
.icon_shouqujiajifeiribaobiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/shouqujiajifeiribaobiao.png) no-repeat;}

.icon_shujuzidian{display:inline-block; width:45px; height:45px; background:url(menu_icons/shujuzidian.png) no-repeat;}
.icon_tikuanshenqing{display:inline-block; width:45px; height:45px; background:url(menu_icons/tikuanshenqing.png) no-repeat;}
.icon_tuijianrenheimingdanguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/tuijianrenheimingdanguanli.png) no-repeat;}
.icon_tuijianrenheimingdanribaobiao{display:inline-block; width:45px; height:45px; background:url(menu_icons/tuijianrenheimingdanribaobiao.png) no-repeat;}
.icon_wanchengshenhejianchufa{display:inline-block; width:45px; height:45px; background:url(menu_icons/wanchengshenhejianchufa.png) no-repeat;}
.icon_xitongcanshuguanli{display:inline-block; width:45px; height:45px; background:url(menu_icons/xitongcanshuguanli.png) no-repeat;}
.icon_yingxiaofangan{display:inline-block; width:45px; height:45px; background:url(menu_icons/yingxiaofangan.png) no-repeat;}
.icon_yingyeriqiweihu{display:inline-block; width:45px; height:45px; background:url(menu_icons/yingyeriqiweihu.png) no-repeat;}
.icon_yushenpijuece{display:inline-block; width:45px; height:45px; background:url(menu_icons/yushenpijuece.png) no-repeat;}
.icon_zhengxinchufa{display:inline-block; width:45px; height:45px; background:url(menu_icons/zhengxinchufa.png) no-repeat;}
.icon_zhuguanxiaxiaduilie{display:inline-block; width:45px; height:45px; background:url(menu_icons/zhuguanxiaxiaduilie.png) no-repeat;}

.icon_left{
	 background: url(new_images/fui-left.gif) no-repeat;
	 width:6px;
	 height:78px;
	 display:inline-block;
	 position:absolute;
	 left:16.1%;
	 bottom:40%;
	 z-index:1;
	 cursor: pointer;
}
.icon_right{
	 background: url(new_images/fui-right.gif) no-repeat;
	 width:6px;
	 height:78px;
	 display:inline-block;
	 position:relative;
	 bottom:-40%;
	 z-index:1;
	 float:right;
	 cursor: pointer;
}
.tdborg {
	background-image: url(new_images/index_task_round_orange.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 90px;
	padding-top:20px;
	text-align: center;
	font-weight: bold;
}
		
.tdbgblue {
	background-image: url(new_images/index_task_round_red.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 90px;
	padding-top:20px;
	text-align: center;
	font-weight: bold;
}

.liiconbgblue {
	background-image: url(new_images/round_red.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height:20px;
	display: inline-block;
	vertical-align:middle;
	padding-bottom:5px;
	/*border:1px dashed red;*/
}

.liiconbgorange {
	background-image: url(new_images/round_orange.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height:20px;
	display: inline-block;
	vertical-align:middle;
	padding-bottom:5px;
	/*border:1px dashed red;*/
}


.common{padding:20px 10px; background:#fafafa; min-width:1024px;}

/*left-icon*/
.left_con{ 
	float:left; 
	background:#f7f7f7; 
	border:1px #e7e7e7 solid;
	border-radius:5px;
	box-shadow:0 1px 1px #E0E0E0;
	height:auto;!important;
	min-height:350px;
	overflow-y:auto;
}
.define{padding:15px;}
.define ul{ padding:0px; margin:0px; line-height:30px;}
.define ul li{ list-style:none; float:left;font-size:12px;}
.define ul li a{ color:#8b8b8b;}
.define ul li a:hover{ color:#f6a516;}

/*middle-icon*/
.middle_con{
	float:left; 
}
.warn_con{
	background:#fff; 
	border:1px #dedede solid;
	border-radius:4px;
	padding:8px;
}
.row{
	padding-top:20px;
}
.row ul{
	float:left;
	margin-left:14px;
}
.row ul li{
	list-style:none;
	float:left;
}

a.circle_1{
	background:url(new_images/circle_1.png) no-repeat;
	width:82px;
	height:82px;
	display:inline-block;
	text-align:center;
}
a.circle_2{
	background:url(new_images/circle_2.png) no-repeat;
	width:82px;
	height:82px;
	display:inline-block;
	text-align:center;
}
a.circle_3{
	background:url(new_images/circle_3.png) no-repeat;
	width:82px;
	height:82px;
	display:inline-block;
	text-align:center;
}



.line_hs{
	background:url(new_images/line_1.png) repeat-x;
	width:13%;
	height:8px;
	display:inline-block;
	margin-top:74px;
}
.line_ss{
	background:url(new_images/line_2.png) repeat-x;
	width:12%;
	height:8px;
	display:inline-block;
	margin-top:152px;
	position:relative;
	bottom:78px;
}
.line_hl{
	background:url(new_images/line_2.png) repeat-x;
	width:34%;
	height:8px;
	display:inline-block;
	margin-top:152px;
	position:relative;
	bottom:78px;
}

.icons_daikuanshouli{display:inline-block; width:39px; height:46px; background:url(new_images/daikuanshouli.png) no-repeat;}
.icons_shouxindiaocha{display:inline-block; width:52px; height:29px; background:url(new_images/shouxindiaocha.png) no-repeat;}
.icons_shouxinshenpi{display:inline-block; width:40px; height:32px; background:url(new_images/shouxinshenpi.png) no-repeat;}
.icons_daikuanfafang{display:inline-block; width:44px; height:35px; background:url(new_images/daikuanfafang.png) no-repeat;}
.icons_qianyuejidaikuan{display:inline-block; width:44px; height:40px; background:url(new_images/qianyuejidaikuan.png) no-repeat;}

.icons_dianhuazhaohui{display:inline-block; width:41px; height:39px; background:url(new_images/dianhuazhaohui.png) no-repeat;}
.icons_shouxinjifuhe{display:inline-block; width:43px; height:36px; background:url(new_images/shouxinjifuhe.png) no-repeat;}
.icons_hepifaka{display:inline-block; width:42px; height:39px; background:url(new_images/hepifaka.png) no-repeat;}

.task{
	float:left;
	width:21%;
	min-width:107px;
	padding-top:15px;
	margin-right:20px;
	margin-bottom:20px;
}
.tab{
	text-align:left;
	margin-top:20px;
}
.tab ul{
	padding:0;
	margin:0;
}
.tab ul li{
	float:left;
	list-style:none;
	background:#cdcdcd;
	height:26px;
	line-height:26px;
	display:inline-block;
	padding:0 7px;
	border:0;
	font-size:14px;
	cursor:pointer;
	color:#fff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
li:hover.tab_icon{
	background:#c22427;
}
.tab ul li.tab_act{
	background:#c22427;
	height:26px;
	line-height:26px;
	display:inline-block;
	padding:0 7px;
	border:0;
	font-size:14px;
	color:#fff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.table_con{
	padding:0 5px;
	float:left;
	margin:0;
	border:1px solid #d7d7d7;
}
.table_con table{
	width:100%;
}
.text_t{
	font-size:12px;
	color:#5f5f5f;
	text-align:right;
	padding-top:8px;
	width:42%;
}
.text_t .text-col{
	color:#6e6965;
	font-weight:bold;
}
.tab_text {
    width:90%; 
	height:24px; 
	border:1px solid #cdcdcd; 
	padding-left:1px;
}

a.button_count{
	background:url(new_images/button.png) no-repeat;
	width:82px;
	height:31px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-align:center;
	padding-top:4px;
}
a:hover.button_count{
	background:url(new_images/hover.png) no-repeat;
	width:82px;
	height:31px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-align:center;
	padding-top:4px;
}

a.button_cancel{
	background:url(new_images/button_cancel.png) no-repeat;
	width:82px;
	height:31px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-align:center;
	padding-top:4px;
}
a:hover.button_cancel{
	background:url(new_images/button_cancel_hover.png) no-repeat;
	width:82px;
	height:31px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-align:center;
	padding-top:4px;
}

a.button_tab{
	display:inline-block;
	padding:6px 10px 0;
	height:25px;
	background:#e6f4fb;
	border-radius:3px;
	color:#0062cd;
	font-size:12px;
}
a:hover.button_tad{
	text-decoration:none;
	background:#0062cd;
	color:#FFF;
}


.business{padding:15px 10px 30px 10px;}

.business ul{padding:0; margin:0;}
.business ul li{
	list-style:none; 
	float:left;
	font-size:12px; 
	margin:15px 0px; 
	width:48%;
	min-width:71px; 
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.business ul li a{color:#8b8b8b;}


.con_right{ float:right;}

.middle_con{ float:left;}
.right_con{ float:right;}

.list_con{float:left;}

.note{
	background:#f0ac46;
	width:100%;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	margin-bottom:3px;
}
.way{
	color:#888;
	font-size:12px;
	text-align:left;
	margin-bottom:3px;
	margin-left:8px;
}
.lis_bg{
	background:#f2f2f2;
	border:1px #e6eaeb solid;
	border-radius:4px;
	padding:15px;
}

.line{height:1px;background-color:#e4e4e4;line-height:1px;clear:both;display:block;}

.footer{ background:url(new_images/foot_bg.png) repeat-x; height:30px; line-height:30px; color:#fff; text-align:center; padding-right:10px; font-size:12px;}

.bg_fff{ background:#fff;}

.bd_t_e4{border-top: 1px solid #e4e4e4;}
.bod_t_e4{border-top: 1px solid #e4e4e4; width:100%;}
.bd_b_e4{border-bottom: 1px solid #e4e4e4;}
.bd_ced2db { border:1px solid #ced2db;}

.f_l{ float:left;}
.f_r{float:right;}
.a_l{text-align:left;}
.a_c{text-align:center;}
.a_r{text-align:right;}
.v_m{vertical-align:middle}
.clear{clear:both;}
.pos_rel{ position:relative;}
.show{display:block;}
.pos_ab{ position:absolute;}
.cur_pt{ cursor:pointer;}
.hide{display:none;}
.outline_none { outline:none;}

/*padding*/
.pd_t_1{padding-top:1px;}
.pd_t_3{padding-top:3px;}
.pd_t_5{padding-top:5px;}
.pd_t_10{padding-top:10px;}
.pd_t_12{padding-top:12px;}
.pd_t_20{padding-top:20px;}
.pd_t_115{padding-top:115px;}
.pd_l_3{padding-left:3px;}
.pd_l_8{padding-left:8px;}
.pd_l_10{padding-left:10px;}
.pd_l_12{padding-left:12px;}
.pd_l_14{padding-left:14px;}
.pd_l_15{padding-left:15px;}
.pd_l_18{padding-left:18px;}
.pd_l_23{padding-left:23px;}
.pd_l_28{padding-left:28px;}
.pd_l_32{padding-left:32px;}
.pd_l_37{padding-left:37px;}
.pd_l_38{padding-left:38px;}
.pd_l_44{padding-left:44px;}
.pd_l_115{padding-left:115px;}
.pd_0_10{padding;0 10px;}
.pd_b_5{padding-bottom:5px;}
.pd_b_10{padding-bottom:10px;}
.pd_b_12{padding-bottom:12px;}
.pd_b_15{padding-bottom:15px;}
.pd_20_0{padding:20px 0;}

.t_51 { top:51px;}
.b_20{bottom:20px;}
.l_39 { left:39px;}
.l_60 { left:60px;}


/*margin*/
.mg_t_1{margin-top:1px;}
.mg_t_7{margin-top:7px;}
.mg_t_8 { margin-top:8px;}
.mg_t_9{margin-top:9px;}
.mg_t_10{margin-top:10px;}
.mg_t_12{margin-top:12px;}
.mg_t_15{margin-top:15px;}
.mg_t_16{margin-top:16px;}
.mg_t_19{margin-top:19px;}
.mg_t_20{margin-top:20px;}
.mg_t_21{margin-top:21px;}
.mg_t_23{margin-top:23px;}
.mg_t_26{margin-top:26px;}
.mg_t_30{margin-top:30px;}
.mg_t_32{margin-top:32px;}
.mg_t_40{margin-top:40px;}
.mg_l_7{margin-left:7px;}
.mg_l_10{margin-left:10px;}
.mg_l_18{margin-left:18px;}
.mg_l_19{margin-left:19px;}
.mg_l_20{margin-left:20px;}
.mg_l_40{margin-left:40px;}
.mg_l_57{margin-left:57px;}
.mg_l_65{margin-left:65px;}
.mg_r_10{margin-right:10px;}
.mg_r_20{margin-right:20px;}
.mg_r_30{margin-right:30px;}
.mg_r_57{margin-right:57px;}
.mg_r_65{margin-right:65px;}
.mg_b-4{margin-bottom:-4px;}
.mg_b_6{margin-bottom:6px;}
.mg_b_10{margin-bottom:10px;}
.mg_b_20{margin-bottom:20px;}
.mg_b_30{margin-bottom:30px;}
.mg_0_10{margin:0 10px;}
.mg_10_0{margin:10px 0;}
.mg_0_auto{ margin:0 auto;}

/*color*/
.color_d6e7f6{color:#d6e7f6;}
.color_5f5f5f{color:#5f5f5f;}
.color_434343{color:#434343;}
.color_333{color:#333;}
.color_428bca{color:#428bca;}
.color_555{color:#555;}
.color_888{color:#888;}
.color_595959{color:#595959;}
.color_6d6f7b{color:#6d6f7b;}
.color_8a8a8a{color:#8a8a8a;}
.color_8b8b8b{color:#8b8b8b;}
.color_747a96{color:#747a96;}
.color_979797{color:#979797;}
.color_adadad{color:#adadad;}
.color_0061cc{color:#0061cc;}
.color_bbc2dc { color:#bbc2dc;}
.color_7f8ea5 { color:#7f8ea5;}
.color_9bcfff{color:#9bcfff;}
.color_ffedce{color:#ffedce;}
.color_909090{color:#909090;}
.color_b0b0b0{color:#b0b0b0;}
.color_036fdf{color:#6a0305;}
.color_116ece{color:#6a0305;}
.color_737373{color:#737373;}
.color_939393{color:#939393;}
.grey{color:grey;}
.white{color:white;}

.h_r:hover{color:#f6a516;}




/*font*/
.font_12{font-size:12px;}
.font_14{font-size:14px;}
.font_18{font-size:18px;}
.font_24{font-size:24px;}
.font_b{font-weight:bold;}


.h_30{height:30px;}
.h_1{height:1px;}
.h_2{height:2px;}
.b_22{bottom:22px;}
.b_-16{bottom:-16px;}
.l_186{left:186px;}
.l_255{left:255px;}
.b_32{bottom:32px;}
.t_-31{top:-31px;}

.w_300{ width:300px;}
.w_380{ width:380px;}
.w_400{ width:400px;}
.w_510{ width:510px;}
.w_227{ width:227px;}
.w_307{ width:307px;}
.h_100p{ height:100%;}



.line_2p1em { line-height:2.1em;}


