/*-------------------- head --------------------------*/

.header {
	border-bottom:0;
}

.foot {
	background: url(images/foot-bg.png) repeat-x 50%;
	width:100%;
	min-width:1000px;
	position:fixed;
}


/*----------------------------------------------*/