A:link, A:active {
    color: #5060b8;
    text-decoration: none;
}

A:visited {
    color: #9430a3;
    text-decoration: none;
}

A.headerButton {
    color: #FFF;
    line-height: 18px;
    font-size: 12px;
    font-family: 微软雅黑, 宋体;
    FILTER: dropshadow(color=#000000, offx=1, offy=1);
    font-weight: bold;
}

A.headerButton:link, A.headerButton:visited {
    color: #FFF
}

A.headerButton:hover {
    color: #FC0
}

img {
    border: 0px;
}

BODY {
    font-family: verdana, arial, helvetica, sans-serif;
    color: #505050;
    background-color: #ffffff;
}

TR, TD {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
}

TEXTAREA {
    border-left: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: Normal;
    background-color: #f6f6f6;
}

/*图片*/
.ef-icon {
    width: 16px;
    height: 16px;
}

.ef-icon-popupwindow {
    background-image: url(../Images/ef_pop_up_window.gif);
}

.bodyText {
    font-size: 12px;
    font-weight: Normal;
    padding-left: 4px;
}

.bodyBackground { /**/
    background-color: #f0f3f4;
}

.messageBoxBackground {
    background-color: #f7f8fd;
}

.show {
    background-color: #FFCCCC;
}

.shadow {
    border: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width：100%;
}

.linkDisabled {
    color: #a0a0a0;
    text-decoration: none;
}

.regionDivider {
    height: 3px;
    color: #e6e6e6;
    border-top: 1px solid #c6c2c6;
    border-bottom: 1px solid #ffffff;
}

.applicationHeader {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: Bold;
    color: #2e4e9e;
}

.contentHeader {
    font-size: 12px;
    font-weight: Bold;
    color: #505050;
}

.containerBorder {
    background-color: #d2d2d2;
}

.containerHeader {
    font-size: 12px;
    font-weight: Bold;
    color: #505050;
    line-height: 14px;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.containerHeaderLeft {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    line-height: 150%;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
}

.containerHeaderRight {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: Bold;
    text-align: right;
    color: #505050;
    line-height: 150%;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.containerHeaderless {
    font-size: 2px;
    line-height: 6px;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.containerBody {
    background-color: #e2eef2;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.containerFooter { /**/
    background-color: #cae1ed;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    line-height: 150%;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.containerFooterThin {
    font-size: 2px;
    line-height: 6px;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

#containerOuter { /**/ /*background-color: #98d7e5;*/
    font-weight: bold;
    background-image: url(../Images/bgline01.gif);
    border-bottom: 1px solid #B3B3B3;
}

.containerInner {
    background-color: #d1d6f0;
}

.tableBorder {
    background-color: #ffffff;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.tableColumn DIV {
    HEIGHT: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.tableHeader {
    background-color: #dbeaf2;
    font-size: 12px;
    font-weight: Bold;
    color: #505050;
    line-height: 14px;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.tableColumnHeader {
    background-image: url(../Images/thbg07.gif);
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
}

.cascadeSelectHeader {
    background-color: #d1d6f0;
    font-size: 12px;
    font-weight: Bold;
    color: #505050;
}

.tableColumnHeadings {
    background-image: url(../Images/thbg07.gif);
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    line-height: 160%;
    border-top: 1px solid #B3B3B3;
}

.tableRow0 {
    background-color: #f0f5f7;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    /* line-height: 150%;*/
    rowHeight: 18px;
}

.tableRow1 {
    background-color: #e2eef2;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    /* line-height: 150%; */
}

.tableRowSelector {
    background-color: #a0d3f0;
}

.tableCurrentRow {
    background: #ffe695;
}

.rowHighlight {
    background-color: #d2e5f6;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    line-height: 150%;
}

.columnHighlight {
    background-color: #d2eaf6;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
}

.buttonBorder {
    background-color: #999999;
}

.buttonBorderDisabled {
    background-color: #bfbfbf;
}

.buttonBorderEmphasized {
    background-color: #666666;
}

#buttonEmphasized {
    background-color: #ffe600;
    font-size: 12px;
    font-weight: Bold;
    border-bottom: 1px solid #d0bb03;
    border-right: 1px solid #d0bb03;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.buttonRegular {
    background-image: url(../Images/btn_bg.gif);
    background-position: 1px 1px repeat-x;
    color: #444;
}

.b1, .b2 {
    height: 1px;
    font-size: 1px;
    overflow: hidden;
    display: block;
    margin: 0 1px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #888;
}

.content {
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #888;
    overflow: hidden;
    padding: 3px 6px 1px 6px;
}

.buttonClass {
    background-color: #ffe695;
    font-size: 10px;
    font-weight: Bold;
    border-bottom: 1px solid #d0bb03;
    border-right: 1px solid #d0bb03;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    color: #505050;
    font-family: verdana, arial, helvetica, sans-serif;
    text-align: center;
    padding-bottom: 1px;
}

.buttonRegular A:link, .buttonRegular A:active, .buttonRegular A:visited {
    color: #625804;
    text-decoration: none;
}

.buttonRegular A:hover {
    background-color: #f5e565;
    color: #65b0f0;
}

.buttonDisabled {
    background-color: #fffbdb;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
    text-align: center;
    color: #b2b2b2;
    text-decoration: none;
}

.buttonHide {
    display: none;
}

.buttonDisabled A:link, .buttonDisabled A:active, .buttonDisabled A:visited {
    color: #b2b2b2;
    text-decoration: none;
}

#buttonSmallEmphasized {
    background-color: #ffe600;
    font-weight: Bold;
    font-size: 12px;
    border-bottom: 1px solid #d0bb03;
    border-right: 1px solid #d0bb03;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

#buttonSmallRegular {
    background-color: #faef9b;
    font-size: 12px;
    border-bottom: 1px solid #e4db83;
    border-right: 1px solid #e4db83;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

#buttonSmallDisabled {
    background-color: #fffbdb;
    font-size: 12px;
    border-bottom: 1px solid #e6e3b8;
    border-right: 1px solid #e6e3b8;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.buttonTextEmphasized {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: Bold;
    text-align: center;
    color: #505050;
    padding-bottom: 1px;
    border-bottom: 1px solid #d0bb03;
    border-right: 1px solid #d0bb03;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.buttonTextEmphasized A:link, .buttonTextEmphasized A:active, .buttonTextEmphasized A:visited {
    color: #505050;
    text-decoration: none;
}

.buttonTextEmphasized A:hover {
    color: #000000;
}

#readOnly {
    background-color: #f7f8fd;
}

.pulldown {
    background-color: #f6f6f6;
    font-family: Courier New, verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    padding-left: 3px;
    border: 1px solid #b4b4b4;
}

.pulldownSmall {
    background-color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    padding-left: 3px;
    border: 1px solid #B3B3B3;
}

#rightAlign {
    text-align: right;
}

.searchField {
    background: #f4f9ff;
    /*BORDER-BOTTOM: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; ; BACKGROUND-COLOR: expression((this.readOnly && this.readOnly==true)?"#EaEaEa":"#f6f6f6");*/
    FONT-FAMILY: Courier New, arial, helvetica, sans-serif;
    HEIGHT: 18px;
    COLOR: #2d4368;
    FONT-SIZE: 12px;
    border: none;
    /*BORDER: #7b9dc0 1px solid;*/
}

.inputField {
    font-family: Courier New, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    background-color: expression((this.readOnly && this.readOnly==true)?"#EaEaEa":"#f6f6f6");
    height: 22px;
    padding-left: 1px;
    padding-top: 1px;
    border: 1px solid #b4b4b4;
}

.smallinputField {
    font-family: Courier New, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    background-color: #ffffff;
    height: 16px;
    padding-left: 1px;
    border: 1px solid #B3B3B3;
}

#editedText {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: Bold;
    font-style: Italic;
    color: #505050;
    padding-left: 3px;
}

.displayField {
    background-color: #f7f8fd;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    height: 18px;
    padding-left: 3px;
    padding-top: 1px;
    border: 1px solid #B3B3B3;
}

.smalldisplayField {
    background-color: #f7f8fd;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    height: 16px;
    padding-left: 3px;
    border: 1px solid #B3B3B3;
}

.listDisplayField {
    background-color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    padding-left: 3px;
    border: 1px solid #B3B3B3;
}

.inputFieldNoBorder {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #505050;
    background-color: #ffffff;
    height: 18px;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.region {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-top: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 6px;
}

.regionBackground {
    background-color: #e0e0e0;
}

#squaredivtabspacedivcolor {
    background-image: url(Images/bgline01.gif);
}

.ef-menu {
    position: absolute;
    z-index: 100;
    visibility: hidden;
    width: 160px;
    border: 1px solid #98B1C4;
    BACKGROUND-COLOR: #BDCEDC
}

.ef-menu a, .ef-menu a:visited {
    display: block;
    width: 100%;

    overflow: visible;
    padding: 4px 0px 0px 5px;

    font-family: arial, nsimsun, sans-serif;
    font-size: 12px;
    text-align: left;
    text-decoration: none;

    color: #293D6B;
    background-color: #f2f4fe
}

.ef-menu a:hover {
    color: #134368;
    background-color: #d2e5f6;
}

.ef-menu a .arrow {
    float: right;
    border: 0;
    width: 3px;
    margin-right: 3px;
    margin-top: 4px;
}

/* separtor */
.ef-menu div {
    overflow: hidden;
    margin: 0px;
}

.ef-menu-bar {
    padding: 1px;
    color: #293D6B;
    font-family: arial, nsimsun, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.ef-munu-bar-onTextClicked {
    color: #293D6B;
    background-color: #8fbedf;
    font_weight: bold;
}

.ef-menu-bar a, .ef-menu-bar a:visited {
    padding: 2px 5px 1px 12px;
    color: #293D6B;
}

.ef-menu-bar a:hover {
    color: #293d6b;
    background-color: #D2EAF6;
    text-decoration: underline;
}

.ef-menu-bar a:active, .ef-menu-bar a:focus {
    text-decoration: underline;
    border: none;
}

.ef-menu-bar a .arrow {
    border: none;
}

.ef-tree-container {
    margin: 0px;
    padding: 0px;
    font: icon;
    white-space: nowrap;
}

.ef-tree-item {
    padding: 0px;
    margin: 0px;
    font: icon;
    color: WindowText;
    white-space: nowrap;
}

.ef-tree-item a {
    margin-left: 3px;
    padding: 0px 2px 1px 2px;

    font-family: arial, nsimsun, sans-serif;
    font-size: 12px;
    text-align: left;
    text-decoration: none;

    color: #293D6B;
}

.ef-tree-item a, .ef-tree-item a:visited {
    padding: 2px 2px 1px 2px;
    color: #293D6B;
}

.ef-tree-item a:hover {
    color: #293d6b;
    background-color: #D2EAF6;
}

.ef-tree-item-current {
    color: highlighttext;
    text-decoration: none;
    background: #d1d6f0;
}

.ef-tree-item img {
    vertical-align: middle;
    border: 0px;
}

.ef-tree-icon {
    width: 16px;
    height: 16px;
}

.efwindow {
    position: absolute;
    z-index: 100;
    display: none;
    border: 1px solid;
    left: 100px;
    background-color: #f7fbfd;
}

.title_white {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    font-family: "锟斤拷锟斤拷";
}

.efModalWindowMask {
    position: absolute;
    z-index: 500;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .3;
    filter: alpha(opacity=30);
    background-color: #ff3333;
    display: none;
}

.efModalWindowContainer {
    position: absolute;
    z-index: 501;
    top: 0px;
    left: 0px;
    display: none;
    padding: 0px;
}

/* Tab */

.tab-div-html {
    background: url(Images/tag_house_bg.gif);
    margin: 0;
    margin-top: 0px !important;
    margin-top: 7px;
    width: 200px !important;
    width: 197px;
    float: right;
    text-align: right
}

.tab-div-content {
    border: 1px solid #B3B3B3;
}

.benma_ui_tab {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    position: relative;
    top: 0px;
    line-height: 22px;
    width: 20000px;
    border-bottom: 2px solid #5796C7;
    padding-top: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.benma_ui_tab .scroll-left {
    float: left;
    position: relative;
    background: url(Images/btnleft.gif) no-repeat;
    width: 10px;
    height: 25px;
    cursor: pointer;
    z-index: 5
}

.benma_ui_tab .scroll-right {
    float: right;
    position: relative;
    background: url(Images/btnright.gif) no-repeat;
    width: 10px;
    height: 25px;
    cursor: pointer;
    z-index: 5
}

.benma_ui_tab .tab_item {
    line-height: 25px;
    z-index: 100;
    white-space: nowrap;
    word-spacing: 0px;
    border-collapse: collapse;
    margin-left: 2px;
    float: left;
    cursor: hand;
    cursor: pointer;
}

.benma_ui_tab .tab_close {
    background-image: url(Images/close.gif);
    background-repeat: no-repeat;
    position: relative;
    top: -1px;
    height: 14px;
    width: 14px;
    font-size: 9px;
}

.benma_ui_tab ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0
}

.benma_ui_tab li {
    list-style: none;
    padding: 0;
    float: left;
    height: 25px;
    margin: 0px;
    margin-left: 1px;
    cursor: pointer
}

.benma_ui_tab .tab_item1_mouseover {
    background-position: 0px -42px;
}

.benma_ui_tab .tab_item1_selected {
    background-position: 0px -84px;
}

.benma_ui_tab .tab_item2_mouseover {
    background-position: 0px -42px;
}

.benma_ui_tab .tab_item2_selected {
    background-position: 0px -84px;
    color: #154060;
}

.benma_ui_tab .tab_item3_mouseover {
    background-position: 0px -42px;
}

.benma_ui_tab .tab_item3_selected {
    background-position: 0px -84px;
}

.benma_ui_tab .tab_title {
    padding: 4px;
    line-height: 16px;
    font-size: 12px;
}

.benma_ui_tab .tab_close_mouseover {
    background-position: 0px -14px;
}

.benma_ui_tab .tab_close_selected {
    background-position: 0px 0px;
}

.benma_ui_tab .tab_close_noselected {
    background-position: 0px -28px;
}

.benma_ui_tab .tab_close_none {
    display: none;
}

.benma_ui_tab .tab_item1 {

    background-repeat: repeat-x;
    width: 5px;
    z-index: 100;
    white-space: nowrap;
}

.benma_ui_tab .tab_item2 {

    background-repeat: repeat-x;
    white-space: nowrap;
    z-index: 101;
}

.benma_ui_tab .tab_item3 {

    background-repeat: repeat-x;
    width: 5px;
}

.benma_ui_tab .tab_item1_bottom {
    /*background-image: url(tab1_bottom.gif)*/;
    background-repeat: repeat-x;
    width: 5px;
}

.benma_ui_tab .tab_item2_bottom {
    /*background-image: url(tab2_bottom.gif)*/;
    background-repeat: repeat-x;
}

.benma_ui_tab .tab_item3_bottom {
    /*background-image: url(tab3_bottom.gif)*/;
    background-repeat: repeat-x;
    width: 5px;
}

.ef-outLookTree {
    border: 1px solid #9da1a4;
    border-left: none;
    border-right: none;
    padding: 2px;
    margin: 0px;
    color: black;
    white-space: nowrap;
    text-align: center;
    height: 20px;
    width: 100%;
    font-family: arial, nsimsun, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../Images/eftree_padBackgroud.png);
}

.ef-outLookTree-item {
    padding: 0px;
    margin: 0px;
    font: icon;
    text-align: center;
    color: WindowText;
    white-space: nowrap;
    height: 20px;
}

.ef-outLookTree-current {
    color: highlighttext;
    text-decoration: none;
    background: #d1d6f0;
}

.ef-outLookTree-hover {
    padding: 0px;
    margin: 0px;
    font: icon;
    text-align: center;
    color: WindowText;
    white-space: nowrap;
    height: 20px;
    background: #D2EAF6;
}

.rowGroupHeader {
    background: white;
}

.rowDetail {
    Height: auto;
}

.treeTable tr td .expander {
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    zoom: 1;
}

.treeTable tr.collapsed td .expander {
    background-image: url(../Images/toggle-expand-dark.png);
}

.treeTable tr.expanded td .expander {
    background-image: url(../Images/toggle-collapse-dark.png);
}

/* jquery.treeTable.sortable
 * ------------------------------------------------------------------------- */
.treeTable tr.selected, .treeTable tr.accept {
    background-color: #3875d7;
    color: #fff;
}

.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
    background-image: url(../Images/toggle-expand-light.png);
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
    background-image: url(../Images/toggle-collapse-light.png);
}

.treeTable .ui-draggable-dragging {
    color: #000;
    z-index: 1;
}

/* FlexBox CSS Define By XiaHongzhong */
/* Input textbox - do not specify a width here, it will be overwritten */
.ffb-input {
    float: left;
    color: #000; /* must specify along with watermark color */
    height: 22px; /* required for webkit browsers (Safari, Chrome) */
}

/* Color of watermark, if present */
.ffb-input.watermark { /* added and removed dynamically */
    color: #888; /* must specify along with input color */
}

/* Drop-down arrow, with sprited image */
.ffb-arrow {
    float: left;
    width: 17px;
    height: 22px;
    background-image: url(../Images/sel_win7.gif);
}

.ffb-arrow.out { /* css sprite technique */
    background-position: 0;
}

.ffb-arrow.over { /* css sprite technique */
    background-position: -17px 0;
}

.ffb-arrow.active { /* css sprite technique */
    background-position: -34px 0;
}

.ffb-no-results {
    padding: 2px;
    color: #888;
    font-style: italic;
    border-bottom: 1px solid #828790;
}

/* Container for dropdown contents */
.ffb {
    position: absolute; /* this guy's parent div is hard-coded to position:relative */
    overflow: hidden;
    border-left: 1px solid #828790; /* #7B9EBD for Vista */
    border-right: 1px solid #828790;
    background-color: #fff; /* Give it a background-color, so it's not transparent */
}

/* Inner div for dropdown */
.ffb .content {
    overflow: auto;
}

.ffb .content .row {
    border-bottom: 1px solid #828790;
    color: #000;
    height: 20px;
    clear: both;
}

.ffb-sel {
    cursor: pointer;
    cursor: hand;
    color: #fff !important;
    background-color: #39f;
}

.ffb-match {
    font-weight: bold;
    color: #000;
}

/* Paging */
.ffb .paging {
    vertical-align: middle;
    border-bottom: 1px solid #828790;
}

.ffb .page, .ffb a.page {
    font-size: 85%;
    padding: 2px;
    border: solid 1px #339;
    background-color: #eef;
    margin: 2px;
}

.ffb .box {
    width: 22px;
    margin: 2px;
}

.ffb .summary {
    font-size: 85%;
}

font.flexbox_value {
    font-weight: bold;
}

font.flexbox_detail {
    font-style: italic;
    color: #047DEE;
}

/* FlexBox CSS Define By XiaHongzhong End */

/* alert CSS Define By XiaHongzhong Start */
#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    background: #E2EEF2;
    /*background: #ffffff;*/
    /*border: solid 5px #999;*/
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* annotated by tcg */
/*#popup_title {*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*text-align: left;*/
/*line-height: 1.75em;*/
/*color: #000000;*/
/*background: #CCC url(./../Images/bgline01.gif) top repeat-x;*/
/*border: solid 1px #FFF;*/
/*border-bottom: solid 1px #999;*/
/*cursor: default;*/
/*padding: 0em;*/
/*margin: 0em;*/
/*}*/

#popup_content {
    background: 16px 16px no-repeat url(../Images/info.gif);
    padding: 1em 1.75em;
    margin: 0em;
}

#popup_content.alert {
    background-image: url(../Images/info.gif);
}

#popup_content.confirm {
    background-image: url(../Images/important.gif);
}

#popup_content.prompt {
    background-image: url(../Images/help.gif);
}

#popup_message {
    padding-left: 48px;
}

#popup_panel {
    text-align: center;
    margin: 1em 0em 0em 1em;
}

#popup_prompt {
    margin: .5em 0em;
}

/* alert CSS Define By XiaHongzhong End */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
    background: url(../Images/overlay.png) repeat 0 0;
}

#colorbox {
}

#cboxContent {
    background: #387EB9;
    overflow: hidden;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    margin-top: 28px;
}

#cboxTitle {
    position: absolute;
    top: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
}

#cboxCurrent {
    position: absolute;
    top: 4px;
    left: 58px;
    color: #949494;
}

#cboxSlideshow {
    position: absolute;
    top: 4px;
    right: 30px;
    color: #0092ef;
}

#cboxLoadingOverlay {
    background: url(../Images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
    background: url(../Images/loading.gif) no-repeat center center;
}

#cboxClose {
    position: absolute;
    top: 1px;
    right: 0;
    background: url(../Images/close_big.png) no-repeat
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

h1 {
    margin: 0px;
    padding: 0px;
    border: 0px currentColor;
}

h2 {
    margin: 0px;
    padding: 0px;
    border: 0px currentColor;
}

h3 {
    margin: 0px;
    padding: 0px;
    border: 0px currentColor;
}

.g-dialogBox-text {
    font-size: 14px;
}

.g-dialogBox-hd {
    background-position: 0px -216px;
    margin: 0px 2px;
    padding: 0px 10px;
    height: 27px;
    color: rgb(255, 255, 255);
    line-height: 27px;
    position: relative;
    cursor: move;
}

.g-dialogBox-hd-rc {
    top: 0px;
    width: 2px;
    height: 27px;
    position: absolute;
}

.g-dialogBox-hd-rc-1 {
    background-position: -256px 0px;
    left: -2px;
}

.g-dialogBox-hd-rc-2 {
    background-position: -258px 0px;
    right: -2px;
}

.g-dialogBox-hd-title {
    font-size: 14px;
}

.g-dialogBox-hd-ext {
    top: 3px;
    right: 3px;
    line-height: 20px;
    position: absolute;
}

.g-dialogBox-hd-oprt {
    width: 20px;
    height: 20px;
    float: right;
}

.g-dialogBox-hd-oprt-close {
    background-position: 0px -64px;
}

.g-dialogBox-hd-oprt-close:hover {
    background-position: 0px -96px;
}

.g-dialogBox-hd-oprt-close:active {
    background-position: 0px -128px;
}

.g-dialogBox-hd-oprt-max {
    background-position: -32px -64px;
}

.g-dialogBox-hd-oprt-max:hover {
    background-position: -32px -96px;
}

.g-dialogBox-hd-oprt-max:active {
    background-position: -32px -128px;
}

.g-dialogBox-hd-oprt-min {
    background-position: -64px -64px;
}

.g-dialogBox-hd-oprt-min:hover {
    background-position: -64px -96px;
}

.g-dialogBox-hd-oprt-min:active {
    background-position: -64px -128px;
}

.g-dialogBox-hd-oprt-fold {
    background-position: -96px -64px;
}

.g-dialogBox-hd-oprt-fold:hover {
    background-position: -96px -96px;
}

.g-dialogBox-hd-oprt-fold:active {
    background-position: -96px -128px;
}

.g-dialogBox-hd-oprt-unfold {
    background-position: -128px -64px;
}

.g-dialogBox-hd-oprt-unfold:hover {
    background-position: -128px -96px;
}

.g-dialogBox-hd-oprt-unfold:active {
    background-position: -128px -128px;
}

.g-dialogBox-bd {
    background: rgb(255, 255, 255);
    border-width: 0px 1px 1px;
    border-style: solid;
}

.g-dialogBox-scrollArea {
    height: 138px;
    overflow: auto;
    position: relative;
    overflow-x: hidden;
}

.g-dialogBox-iconText {
    padding: 25px 10px 30px 75px;
    position: relative;
    zoom: 1;
}

.g-dialogBox-iconText .g-dialogBox-icon {
    left: 25px;
    top: 20px;
    position: absolute;
}

.g-dialogBox-iconText .g-dialogBox-title {
    line-height: 24px;
    font-size: 14px;
}

.g-dialogBox-input td {
    padding: 3px 0px;
    vertical-align: top;
}

.g-dialogBox-input .g-ipt {
    margin-right: 5px;
}

.g-dialogBox-input-label {
    text-align: left;
    line-height: 28px;
    padding-right: 0.5em;
    font-weight: normal;
    vertical-align: top;
}

.g-dialogBox-input-tips {
    font-size: 12px;
    margin-top: 3px;
}

.g-dialogBox-item {
    font-size: 12px;
    margin-bottom: 5px;
}

.g-dialogBox-simpleText {
    padding: 15px;
    text-align: center;
}

.g-dialogBox-simpleContent {
    padding: 15px;
}

.g-dialogBox-ft {
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 0px 10px;
    height: 42px;
}

.g-dialogBox-ft-oprt {
    margin: 8px 0px 0px;
    float: right;
    display: inline;
}

.g-dialogBox-ft-oprt .g-btn {
    margin-left: 10px;
}

.g-dialogBox-ft-ext {
    line-height: normal;
    margin-top: 13px;
    float: left;
}

.g-dialogBox-ft-ext .g-checkboxLabel {
    -top: 0;
}

.g-dialogBox-isFixed .g-dialogBox-hd {
    cursor: default;
}

.g-dialogBox-dict {
    padding: 5px;
}

.g-dialogBox-dict-search {
    margin-bottom: 5px;
}

.g-dialogBox-dict-search .g-ipt {
    margin-right: 5px;
}

.g-dialogBox-dict-search .g-ipt-inner {
    width: 130px;
}

.g-dialogBox-dict-search .g-checkboxLabel {
    margin: 0px 0px 0px 8px;
}

.g-dialogBox-dict-result {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    height: 145px;
    overflow: auto;
    position: relative;
}

.g-dialogBox-dict-wel {
    text-align: center;
    line-height: 145px;
}

.g-dialogBox-dict-loading {
    left: 50%;
    top: 50px;
    width: 100px;
    margin-left: -50px;
    position: absolute;
}

.g-dialogBox-dict-content-title {
    background: rgb(234, 238, 255);
    padding: 0px 5px;
    font-weight: normal;
    zoom: 1;
}

.g-dialogBox-dict-keyword {
    margin-right: 8px;
}

.g-dialogBox-dict-sound {
    width: 17px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.g-dialogBox-dict-noResult {
    padding: 25px 5px 0px;
}

.g-dialogBox-hd-oprt {
    background-image: url("../Images/bg.png");
    background-repeat: no-repeat;
}

.g-dialogBox-hd-rc {
    background-image: url("../Images/bg.png");
    background-repeat: no-repeat;
}

.g-dialogBox-hd {
    background-image: url("../Images/bgx.png");
    background-repeat: repeat-x;
}

.g-dialogBox-dict-result {
    border-color: rgb(156, 184, 204);
}

.g-dialogBox-ft {
    border-color: rgb(108, 146, 173);
}

.g-dialogBox-bd {
    border-color: rgb(108, 146, 173);
}

.g-dialogBox-ft {
    background-color: rgb(246, 249, 252);
}

.progressWrapper {
    width: 357px;
    max-height: 56px;
    float: left;
}

.progressContainer {
    margin: 1px;
    padding: 1px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;

}

/* Message */
.message {
    margin: 1em 0;
    padding: 10px 20px;
    border: solid 1px #FFDD99;
    background-color: #FFFFCC;
    overflow: hidden;
}

/* Error */
.red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

Current
.green {
    border: solid 1px #DDF0DD;
    background-color: #EBFFEB;
}

Complete
.blue {
    border: solid 0px #ccccff;
    float: left;
    background-color: #cccccc;
}

.progressName {
    font-size: 8pt;
    font-weight: 700;
    color: #555;
    width: 225px;
    height: 14px;
    text-align: left;
    float: left;
    white-space: nowrap;
}

.fileLoad {
    /*font-size: 7pt;*/
    font-weight: 600;
    color: #555;
    height: 10px;
    text-align: left;
    white-space: nowrap;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
    font-size: 0;
    width: 0%;
    height: 3px;
    background-color: blue;
    margin-top: 2px;
}

.progressBarComplete {
    width: 100%;
    background-color: green;
    visibility: hidden;
}

.progressBarError {
    width: 100%;
    background-color: red;
    visibility: hidden;
}

.progressBarStatus {
    margin-top: 2px;
    width: 100px;
    font-size: 7pt;
    font-family: Arial;
    text-align: left;
    white-space: nowrap;
}

a.progressCancel {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../Images/delete.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: -1px -1px;
    float: right;
    height: 12px;
    width: 11px;
}

a.progressCancel:hover {
    background-position: 0px 0px;
}

element.style {
    display: block;
}

.AttBox {
    background-color: #F3F7FD;
    border: 1px solid #CCCCCC;
    margin-bottom: 1px;
    /*max-height:56px;*/
    overflow: auto;
}

.AttBox ul {
    font-size: 10pt;
    font-weight: 700;
    color: #0000ff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.AttBox li {
    background-color: #F3F7FD;
    border: 1px solid #BBD8FB;
}

.AttBox li {
    float: left;
    margin: 1px;
    padding: 7px 0px 5px 0px;
    white-space: nowrap;
}

.AttBox .Remove {
    cursor: pointer;
    margin-left: 4px;
}

.a_remove {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../Images/delete.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

.a_remove {
    background-position: -1px -1px;
    height: 12px;
    width: 11px;
}

.panel-header {
    padding: 2px;
    line-height: 15px;
    color: #15428b;
    font-weight: bold;
    font-size: 12px;
    background: url('../Images/panel_title.png') repeat-x;
    position: relative;
    border: 1px solid #99BBE8;
}

.panel-title {
    background: url('../Images/blank1.gif') no-repeat;
}

.layout-body {
    overflow: auto;
    background: #fff;
}

.panel-body {
    overflow: auto;
    border: 1px solid #99BBE8;
    border-top-width: 0px;
}

.datagrid-view {
    position: relative;
    overflow: hidden;
}

.datagrid-view1 {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-right1: 1px solid #ccc;
}

.datagrid-header-inner {
    float: left;
    width: 10000px;
}

.datagrid-header td {
    border-right: 1px dotted #ccc;
    font-size: 12px;
    font-weight: normal;
    background: #fafafa url('../Images/datagrid_header_bg.gif') repeat-x left bottom;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #fff;
}

.datagrid-header td.datagrid-header-over {
    background: #EBF3FD;
}

.datagrid-header .datagrid-cell {
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-align: center;
}

.datagrid-header .datagrid-cell-group {
    margin: 0;
    padding: 4px 2px 4px 4px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-align: center;
}

.datagrid-header-rownumber {
    width: 25px;
    text-align: center;
    margin: 0px;
    padding: 3px 0px;
}

.datagrid-body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    zoom: 1;
}

.datagrid-body table {
    width: 100%;
}

.datagrid-view1 .datagrid-body-inner {
    padding-bottom: 20px;
}

.datagrid-view1 .datagrid-body {
    overflow: hidden;
}

.datagrid-footer {
    overflow: hidden;
}

.datagrid-footer-inner {
    border-top: 1px solid #ccc;
    width: 10000px;
    float: left;
}

.datagrid-body td, .datagrid-footer td {
    font-size: 12px;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.datagrid-body .datagrid-cell, .datagrid-footer .datagrid-cell {
    overflow: hidden;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    word-wrap: normal;
}

.totalStyle {
    width: 80%;
    height: 650px;
    margin: 0px;
    padding: 15px;
    background: #f0f3f4;
    border: solid 1px #367dbb;
}

.totalStyle tr, td {
    border: 1px;
    padding: 0px;
    margin: 0px;
}

.topStyle {
    font-family: Calibri, Arial, "微软雅黑", "宋体";
    font-weight: 600;
    width: 80%;
    text-align: left;
    padding: 5px;
}

.topStyle td {
    text-align: left;
    vertical-align: middle;
}

.topStyle div {
    float: left;
}

.leftStyle {
    list-style-type: none;
    text-align: left;
}

.leftStyle li {
    list-style-type: none;
}

.txtStyle {
    width: 300px;
    height: 22px;
    vertical-align: middle;
    line-height: 20px;
    border: solid 1px #969696;
    margin: 0 10px;
}

.btnStyle {
    width: 28px;
    height: 27px;
    background-color: transparent;
    background: url(../Images/attach/searchButton.png) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
}

.btnStyleOver {
    width: 28px;
    height: 27px;
    background: url(../Images/attach/searchButton-over.png) no-repeat;
    border: none;
    cursor: pointer;
}

.Navigator {
    background-repeat: repeat-y;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif, 微软雅黑, 宋体;
    color: #000;
}

.scrollBar {
    height: 600px;
    overflow: auto;
    overflow-x: hidden;
    border: solid 1px #367dbb;
    margin-right: 40px;
}

.embDiv {
    border: solid 1px #367dbb;
    margin-right: 10px;
}

.titleStyle {
    font-family: Calibri, Arial, "微软雅黑", "宋体";
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: left;
}

.titleStyle span {
    font-size: 24px;
    color: #000000;
}

.titleStyle div {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.downloadButton {
    display: block;
    background-image: url(../Images/attach/downloadButton.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 180px;
    height: 49px;
    text-decoration: none;
    /*	line-height: 42px;
    */
}

.downloadButtonOver {
    display: block;
    background-image: url(../Images/attach/downloadButtonOver.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 180px;
    height: 49px;
    text-decoration: none;
}

#downloadTop {
    color: #000000;
    text-decoration: none;
}

#download {
    font-size: 10px;
}

.ef-input {
    display: inline-block;
    vertical-align: middle;
}

/*--图片按钮--*/
.ef-icon {
    background-image: url(../Themes/Images/icons/ef-icons_6da8d5.png);
    width: 16px;
    height: 16px;
}

span.ef-icon {
    float: left;
}

/*--日历按钮--*/
.ef-icon-calendar {
    background-position: -96px -16px;
}