.g-dialogBox-text {
    font-size: 14px;
}
.g-dialogBox-hd {
    background-position: 0px -216px; margin: 0px 2px; padding: 0px 10px; height: 27px; color: rgb(255, 255, 255); line-height: 27px; position: relative; cursor: move;
}
.g-dialogBox-hd-rc {
    top: 0px; width: 2px; height: 27px; position: absolute;
}
.g-dialogBox-hd-rc-1 {
    background-position: -256px 0px; left: -2px;
}
.g-dialogBox-hd-rc-2 {
    background-position: -258px 0px; right: -2px;
}
.g-dialogBox-hd-title {
    font-size: 14px;
}
.g-dialogBox-hd-ext {
    top: 3px; right: 3px; line-height: 20px; position: absolute;
}
.g-dialogBox-hd-oprt {
    width: 20px; height: 20px; float: right;
}
.g-dialogBox-hd-oprt-close {
    background-position: 0px -64px;
}
.g-dialogBox-hd-oprt-close:hover {
    background-position: 0px -96px;
}
.g-dialogBox-hd-oprt-close:active {
    background-position: 0px -128px;
}
.g-dialogBox-hd-oprt-max {
    background-position: -32px -64px;
}
.g-dialogBox-hd-oprt-max:hover {
    background-position: -32px -96px;
}
.g-dialogBox-hd-oprt-max:active {
    background-position: -32px -128px;
}
.g-dialogBox-hd-oprt-min {
    background-position: -64px -64px;
}
.g-dialogBox-hd-oprt-min:hover {
    background-position: -64px -96px;
}
.g-dialogBox-hd-oprt-min:active {
    background-position: -64px -128px;
}
.g-dialogBox-hd-oprt-fold {
    background-position: -96px -64px;
}
.g-dialogBox-hd-oprt-fold:hover {
    background-position: -96px -96px;
}
.g-dialogBox-hd-oprt-fold:active {
    background-position: -96px -128px;
}
.g-dialogBox-hd-oprt-unfold {
    background-position: -128px -64px;
}
.g-dialogBox-hd-oprt-unfold:hover {
    background-position: -128px -96px;
}
.g-dialogBox-hd-oprt-unfold:active {
    background-position: -128px -128px;
}
.g-dialogBox-bd {
    background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid;
}
.g-dialogBox-scrollArea {
    height: 138px; overflow: auto; position: relative; overflow-x: hidden;
}
.g-dialogBox-iconText {
    padding: 25px 10px 30px 75px; position: relative; zoom: 1;
}
.g-dialogBox-iconText .g-dialogBox-icon {
    left: 25px; top: 20px; position: absolute;
}
.g-dialogBox-iconText .g-dialogBox-title {
    line-height: 24px; font-size: 14px;
}
.g-dialogBox-input td {
    padding: 3px 0px; vertical-align: top;
}
.g-dialogBox-input .g-ipt {
    margin-right: 5px;
}
.g-dialogBox-input-label {
    text-align: left; line-height: 28px; padding-right: 0.5em; font-weight: normal; vertical-align: top;
}
.g-dialogBox-input-tips {
    font-size: 12px; margin-top: 3px;
}
.g-dialogBox-item {
    font-size: 12px; margin-bottom: 5px;
}
.g-dialogBox-simpleText {
    padding: 15px; text-align: center;
}
.g-dialogBox-simpleContent {
    padding: 15px;
}
.g-dialogBox-ft {
    border-width: 0px 1px 1px; border-style: solid; padding: 0px 10px; height: 42px;
}
.g-dialogBox-ft-oprt {
    margin: 8px 0px 0px; float: right; display: inline;
}
.g-dialogBox-ft-oprt .g-btn {
    margin-left: 10px;
}
.g-dialogBox-ft-ext {
    line-height: normal; margin-top: 13px; float: left;
}
.g-dialogBox-ft-ext .g-checkboxLabel {
    top: 0;
}
.g-dialogBox-isFixed .g-dialogBox-hd {
    cursor: default;
}
.g-dialogBox-dict {
    padding: 5px;
}
.g-dialogBox-dict-search {
    margin-bottom: 5px;
}
.g-dialogBox-dict-search .g-ipt {
    margin-right: 5px;
}
.g-dialogBox-dict-search .g-ipt-inner {
    width: 130px;
}
.g-dialogBox-dict-search .g-checkboxLabel {
    margin: 0px 0px 0px 8px;
}
.g-dialogBox-dict-result {
    border-width: 1px; border-style: solid; padding: 5px; height: 145px; overflow: auto; position: relative;
}
.g-dialogBox-dict-wel {
    text-align: center; line-height: 145px;
}
.g-dialogBox-dict-loading {
    left: 50%; top: 50px; width: 100px; margin-left: -50px; position: absolute;
}
.g-dialogBox-dict-content-title {
    background: rgb(234, 238, 255); padding: 0px 5px; font-weight: normal; zoom: 1;
}
.g-dialogBox-dict-keyword {
    margin-right: 8px;
}
.g-dialogBox-dict-sound {
    width: 17px; height: 20px; margin-left: 5px; vertical-align: middle;
}
.g-dialogBox-dict-noResult {
    padding: 25px 5px 0px;
}

.g-dialogBox-hd-oprt {
    background-image: url("./Images/bg.png"); background-repeat: no-repeat;
}
.g-dialogBox-hd-rc {
    background-image: url("./Images/bg.png"); background-repeat: no-repeat;
}

.g-dialogBox-hd {
    background-image: url("./Images/bgx.png"); background-repeat: repeat-x;
}

.g-dialogBox-dict-result {
    border-color: rgb(156, 184, 204);
}
.g-dialogBox-ft {
    border-color: rgb(108, 146, 173);
}
.g-dialogBox-bd {
    border-color: rgb(108, 146, 173);
}

.g-dialogBox-ft {
    background-color: rgb(246, 249, 252);
}
