.icon-favorite {
    background: url(icons/favorite.png) no-repeat;
}

.icon-add {
    background: url(icons/add.png) no-repeat;
}

.icon-addnew {
    background: url(icons/addnew.png) no-repeat;
}

.icon-edit {
    background: url(icons/edit.png) no-repeat;
}

.icon-editnew {
    background: url(icons/editnew.png) no-repeat;
}

.icon-remove {
    background: url(icons/remove.png) no-repeat;
}

.icon-removenew {
    background: url(icons/removenew.png) no-repeat;
}

.icon-save {
    background: url(icons/save.png) no-repeat;
}

.icon-close {
    background: url(icons/cancel.png) no-repeat;
}

.icon-cut {
    background: url(icons/cut.png) no-repeat;
}

.icon-ok {
    background: url(icons/ok.png) no-repeat;
}

.icon-no {
    background: url(icons/no.png) no-repeat;
}

.icon-cancel {
    background: url(icons/cancel.gif) no-repeat;
}

.icon-reload {
    background: url(icons/reload.png) no-repeat;
}

.icon-reloadnew {
    background: url(icons/reloadnew.png) no-repeat;
}

.icon-search {
    background: url(icons/search.png) no-repeat;
}

.icon-print {
    background: url(icons/print.png) no-repeat;
}

.icon-help {
    background: url(icons/help.png) no-repeat;

}

.icon-undo {
    background: url(icons/undo.png) no-repeat;
}

.icon-redo {
    background: url(icons/redo.png) no-repeat;
}

.icon-tip {
    background: url(icons/tip.png) no-repeat;
}

.icon-zoomin {
    background: url(icons/zoomin.png) no-repeat;
}

.icon-zoomout {
    background: url(icons/zoomout.png) no-repeat;
}

.icon-goto {
    background: url(icons/goto.png) no-repeat;
}

.icon-date {
    background: url(icons/date.png) no-repeat;
}

.icon-filter {
    background: url(icons/filter.png) no-repeat;
}

.icon-find {
    background: url(icons/find.png) no-repeat;
}

.icon-folder {
    background: url(icons/folder.png) no-repeat;
}

.icon-folderopen {
    background: url(icons/folder-open.png) no-repeat;
}

.icon-lock {
    background: url(icons/lock.png) no-repeat;
}

.icon-unlock {
    background: url(icons/unlock.png) no-repeat;
}

.icon-new {
    background: url(icons/new.png) no-repeat;
}

.icon-node {
    background: url(icons/node.png) no-repeat;
}

.icon-nowait {
    background: url(icons/nowait.gif) no-repeat;
}

.icon-sort {
    background: url(icons/sort.png) no-repeat;
}

.icon-wait {
    background: url(icons/wait.gif) no-repeat;
}

.icon-upgrade {
    background: url(icons/upgrade.png) no-repeat;
}

.icon-reset {
    background: url(icons/reset.png) no-repeat;
}

.icon-downgrade {
    background: url(icons/downgrade.png) no-repeat;
}

.icon-download {
    background: url(icons/download.png) no-repeat;
}

.icon-upload {
    background: url(icons/upload.png) no-repeat;
}

.icon-user {
    background: url(icons/user.png) no-repeat;
}

.icon-split {
    background: url(icons/split.png) no-repeat;
}

.icon-addfolder {
    background: url(icons/addfolder.png) no-repeat;
}

.icon-expand {
    background: url(icons/expand.png) no-repeat;
}

.icon-collapse {
    background: url(icons/collapse.png) no-repeat;
}

.icon-organization {
    background: url(icons/organization.png) no-repeat;
}

.icon-position {
    background: url(icons/position.png) no-repeat;
}

.icon-employee {
    background: url(icons/emp.png) no-repeat;
}

.icon-duty {
    background: url(icons/duty.png) no-repeat;
}

.icon-group {
    background: url(icons/group.png) no-repeat;
}

.icon-user {
    background: url(icons/user.png) no-repeat;
}

.icon-user-female {
    background: url(icons/user_female.png) no-repeat;
}

.icon-user-green {
    background: url(icons/user_green.png) no-repeat;
}

.icon-arrow-merge {
    background: url(icons/arrow_merge.png) no-repeat;
}

.icon-duty-group {
    background: url(icons/duty_group.png) no-repeat;
}

.icon-duty-manager {
    background: url(icons/duty_manager.png) no-repeat;
}

.icon-application {
    background: url(icons/application.png) no-repeat;
}

.icon-application-home {
    background: url(icons/application_home.png) no-repeat;
}

.icon-function-group-close {
    background: url(icons/function_group_close.png) no-repeat;
}

.icon-function-group-open {
    background: url(icons/function_group_open.png) no-repeat;
}

.icon-menu {
    background: url(icons/menu.png) no-repeat;
}

.icon-menu-root {
    background: url(icons/menu_root.png) no-repeat;
}

.icon-gear {
    background: url(icons/gear.png) no-repeat;
}

.icon-deploy {
    background: url(icons/deploy.png) no-repeat;
}

.icon-and {
    background: url(icons/and.png) no-repeat;
}

.icon-or {
    background: url(icons/or.png) no-repeat;
}

.icon-condition {
    background: url(icons/condition.png) no-repeat;
}

.icon-authorization {
    background: url(icons/authorization.png) no-repeat;
}

.icon-auth-calculate {
    background: url(icons/auth_calculate.png) no-repeat;
}

.icon-change-password {
    background: url(icons/change_password.png) no-repeat;
}

.icon-role {
    background: url(icons/role.png) no-repeat;
}

.icon-run {
    background: url(icons/run.png) no-repeat;
}

.icon-reverse {
    background: url(icons/reverse.png) no-repeat;
}