.fui-textbox
{
    width:125px;
    height:21px;
    display:inline-block;
      
    padding:0;
    margin:0;
    border:0;
    vertical-align:middle;    
    overflow:hidden;	/*必须hidden*/
    /*position:static;*/
    position:relative;
    
}
.fui-textbox-border
{
    background:white;
    border: solid 1px #a5acb5;
    width:auto;
    height:19px;
    display:block;    
    /*_display:inline-block;/*ie6*/
    position:relative;overflow:hidden;
    padding-left:1px;padding-right:1px;        
}

.fui-textbox-input
{
    cursor:text;
    background:none;    
    width:100%;
    height:19px;
    line-height:19px;
    font-family: Verdana;
    font-size: 9pt;
    border:0;
    padding: 0;
    margin:0;
    padding:0;
    outline:none;
    float:left;
    _position:absolute;/*ie6*/
    _left:2px;
    _top:0px;
}
.fui-required .fui-textbox-input,
.fui-required .fui-buttonedit-input
{
    background:#FFFFE6;
}

/*
.fui-textbox .fui-errorIcon
{   
    display:block;
    width:18px;
    height:18px;    
    overflow:hidden;    
    position:absolute;
    top:1px;right:0;
    margin-top:0px;
}*/

/* focus */
body .fui-textbox-focus .fui-textbox-border
{
    border-color:#808891;
}

/* empty */
.fui-placeholder-label
{
    position:absolute;left:0;top:0;padding:2px;line-height:17px;padding-left:2px;
    color:#9a9a9a;cursor:text;
}
/*.fui-textbox-empty .fui-textbox-input
{
    color:#B1B1B8;
}*/

/* disabled */
.fui-textbox-disabled
{
    cursor:default;
    
}
body .fui-textbox-disabled .fui-textbox-border
{
    background:#f0f0f0;color:#6D6D6D;cursor:default;
}

/* textarea */
.fui-textarea .fui-textbox-border
{
    height:auto;
}
.fui-textarea .fui-textbox-input
{
    resize:none;
    height:100%;
    margin:0;padding:0;border:0;
}

/* error */
.fui-error .fui-textbox-border
{
    margin-right:18px;
}
