@charset "utf-8";
/* CSS Document */
/*reset*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, span, em, b, i, input, select, textarea{margin:0; padding:0;}
body
{
    height:100%;
}

.table
{
    position:relative;
    width:100%; 
    align:center;
}
.search-condition .table{width:100%;}
.search-condition .table td{height:35px; line-height:35px;}
.search-condition .table td.tit{padding-right:5px; width:75px; text-align:right;}
.search-condition .btn-wrap{text-align:center; vertical-align:middle;}
.search-content{padding:15px;}