.fui-layout
{
    width:500px;
    height:250px;    
    
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;
}
.fui-layout-border
{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.fui-layout-split
{
    cursor:w-resize;
    position:absolute;
    width:5px;
    height:100%;
    top:0;
    left:0;
    overflow:hidden;
}
.fui-layout-split-north, .fui-layout-split-south
{
    cursor:n-resize;
}
.fui-layout-split-nodrag
{
    cursor:default;
}

.fui-layout-region
{
    border:1px solid #A8A8A8;
    
    position:absolute;
    padding:0;
    overflow:hidden;
    left:0px;
    top:0px;
}
.fui-layout-region-north
{
    border-top:0;   
    border-left:0;  
    border-right:0;  
}
.fui-layout-region-south
{
    border-bottom:0; 
    border-left:0;  
    border-right:0;      
}
.fui-layout-region-west
{
    border-left:0;
}
.fui-layout-region-east
{
    border-right:0;
}


.fui-layout-region-header
{
    
    background:url(images/layout/header.png) repeat-x 0 0;    
    border-bottom:solid 1px #a7abb0;
    cursor:default;    
    overflow:hidden; 
    height:22px;
    padding-left:6px;
}
.fui-layout-region-title
{
    font-weight:bold;    
    float:left;
    line-height:22px;
}
.fui-layout-region-icon
{
    float:left;
    width:16px;
    height:16px;
    overflow:hidden;
    vertical-align:middle;
    margin-right:4px;
    margin-top:3px;
}
.fui-layout-region-body
{
    overflow:auto;
    position:relative;
}

.fui-layout-proxy
{
    background:#e9edf1;
    border:solid 1px #A8A8A8;
    cursor:default;    
    overflow:hidden; 
    height:22px;
    padding-left:6px;
    position:absolute;
    z-index:100;
    left:-500px;top:-500px;
}
.fui-layout-proxy-hover
{
    background:#f1f5f6;    
}

.fui-layout-proxy-east .fui-layout-region-title,
.fui-layout-proxy-east .fui-layout-region-icon,
.fui-layout-proxy-west .fui-layout-region-title,
.fui-layout-proxy-west .fui-layout-region-icon
{
    display:none;
}
.fui-layout-proxy-east .fui-tools,
.fui-layout-proxy-west .fui-tools
{
    
}
.fui-layout-proxy-north .fui-tools,
.fui-layout-proxy-south .fui-tools
{
    
}

/* tools */
.fui-layout-region-header .fui-tools
{
    
}
.fui-layout-region-west .fui-layout-region-header .fui-tools-collapse
{
    background:url(images/layout/west.gif) no-repeat 50% 50%;
}
.fui-layout-region-east .fui-layout-region-header .fui-tools-collapse
{
    background:url(images/layout/east.gif) no-repeat 50% 50%;
}
.fui-layout-region-north .fui-layout-region-header .fui-tools-collapse
{
    background:url(images/layout/north.gif) no-repeat 50% 50%;
}
.fui-layout-region-south .fui-layout-region-header .fui-tools-collapse
{
    background:url(images/layout/south.gif) no-repeat 50% 50%;
}

.fui-layout-proxy-west .fui-tools-collapse
{
    background:url(images/layout/east.gif) no-repeat 50% 50%;
}
.fui-layout-proxy-east .fui-tools-collapse
{
    background:url(images/layout/west.gif) no-repeat 50% 50%;
}
.fui-layout-proxy-north .fui-tools-collapse
{
    background:url(images/layout/south.gif) no-repeat 50% 50%;
}
.fui-layout-proxy-south .fui-tools-collapse
{
    background:url(images/layout/north.gif) no-repeat 50% 50%;
}
.fui-layout-popup
{
    background:white;
    z-index:101;    
}
.fui-layout-maxZIndex
{
    z-index:200;
}

.fui-layout-spliticon
{
    width:5px;
    height:35px;
    background:url(images/splitter/fui-left.gif) no-repeat 50% 50%;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-17px;
    cursor:pointer;
}
.fui-layout-split-east .fui-layout-spliticon
{
    background:url(images/splitter/fui-right.gif) no-repeat 50% 50%;
}
.fui-layout-split-north .fui-layout-spliticon,
.fui-layout-split-south .fui-layout-spliticon
{
    width:35px;height:5px;left:50%;top:0;margin-left:-17px;margin-top:0px;
    background:url(images/splitter/fui-top.gif) no-repeat 50% 50%;
}
.fui-layout-split-south .fui-layout-spliticon
{    
    background:url(images/splitter/fui-bottom.gif) no-repeat 50% 50%;
}


.fui-layout-split-west .fui-layout-spliticon-collapse
{
    background:url(images/splitter/fui-right.gif) no-repeat 50% 50%;
}
.fui-layout-split-east .fui-layout-spliticon-collapse
{
    background:url(images/splitter/fui-left.gif) no-repeat 50% 50%;
}
.fui-layout-split-north .fui-layout-spliticon-collapse
{
    background:url(images/splitter/fui-bottom.gif) no-repeat 50% 50%;
}
.fui-layout-split-south .fui-layout-spliticon-collapse
{
    background:url(images/splitter/fui-top.gif) no-repeat 50% 50%;
}