.fui-outlookbar
{        
    font-size:9pt;
    font-family:Tahoma, Verdana, 宋体;    
    overflow:hidden;
}
.fui-outlookbar-border
{
    border:1px solid #999999;
    overflow:hidden;
    position:relative;
}

.fui-outlookbar-group 
{
    overflow:hidden;
    height:auto; 
    border-bottom:solid 1px #a7abb0;
    position:relative;
}
.fui-outlookbar-groupHeader
{
    position:relative;
    background:url(images/navbar/header.png) repeat-x 0 0;        
    cursor:pointer;    
    overflow:hidden; 
    height:23px;
    padding-left:2px;
    padding-right:25px;
    font-weight:bold;      
}
.fui-outlookbar-groupTitle
{
    overflow:hidden;
    white-space:nowrap;
    float:left; 
    line-height:23px;
    padding-left:4px;
}
.fui-outlookbar-groupHeader .fui-tools
{   
    position:absolute;
    top:3px;right:3px;
 
}
.fui-outlookbar-groupBody
{    
    clear:both;    
    border-top:solid 1px #a7abb0;    
    overflow:auto;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
}

.fui-outlookbar-firstGroup 
{
    
}

.fui-outlookbar .fui-outlookbar-icon
{
    float:left;
    width:16px;
    height:16px;
    overflow:hidden;
    vertical-align:middle;
    
    margin-top:3px;
    margin-left:4px;
}

.fui-outlookbar-collapse .fui-outlookbar-groupBody
{
    display:none;
}
.fui-outlookbar-lastGroup
{
    border-bottom:0;
}
.fui-outlookbar-lastGroup .fui-outlookbar-groupHeader
{
    border-bottom:0;
}

.fui-outlookbar .fui-outlookbar-expand .fui-tools-collapse
{
    background:url(images/tools/expand.gif) no-repeat 50% 50%;   
}
.fui-outlookbar-collapse
{
    
}
.fui-outlookbar-expand
{    
}

/* view2 */
.fui-outlookbar-view2 .fui-outlookbar-border
{
    border:0;
}
.fui-outlookbar-view2 .fui-outlookbar-group
{
    border:0;
    margin-bottom:1px;
}
.fui-outlookbar-view2 .fui-outlookbar-groupHeader
{
    border:solid 1px #a7abb0; 
}
.fui-outlookbar-view2 .fui-outlookbar-groupBody
{
    border:0;
    background:#fff;
}
.fui-outlookbar-view2 .fui-outlookbar-lastGroup 
{
    margin:0;
}

/* view3 */
.fui-outlookbar-view3 .fui-outlookbar-border
{
    border:0;
}
.fui-outlookbar-view3 .fui-outlookbar-group
{
    border:solid 1px #a7abb0; 
    margin-bottom:8px;
}
.fui-outlookbar-view3 .fui-outlookbar-groupBody
{    
    
}
.fui-outlookbar-view3 .fui-outlookbar-lastGroup 
{
    margin:0;
    margin-bottom:0px;
}


.fui-outlookbar-overflow,
.fui-outlookbar-overflow .fui-tree,
.fui-outlookbar-overflow .fui-menu
{
    overflow:hidden;
}