.fui-pager
{   
    width:auto;
    height:28px;
    overflow:hidden;  
    font-size:9pt;
    font-family: Tahoma, Verdana;
    position:relative;
}


.fui-pager-left
{
    padding-top:3px;
    
    height:25px;
    overflow:hidden;
    padding-left:2px;
    float:left;
}
.fui-pager-right
{
    float:right;
    line-height:28px;
    padding-right:5px;
}

.fui-pager .fui-button
{
    margin-right:0px;
}

.fui-pager .fui-button-iconOnly
{
    padding-top:0;
    padding-bottom:0;
    height:20px;
}
body .fui-pager .fui-buttonedit .fui-buttonedit-border
{
    border-color:#ccc;
}

.fui-pager-num
{    
	border:1px solid #ccc;
	margin:0 2px;
	width:35px;
	text-align:center;	
	outline:none;
	+vertical-align:middle;
	position:relative;
	_left:0;_top:-1px;
	height:14px;
}
.fui-pager-pages
{
    padding-left:5px;
    padding-right:5px;
    display:inline-block;
}
.fui-pager-size
{
    display:inline-block;
    height:20px;
    padding-left:2px;
    vertical-align:middle;
}
.fui-pager-index
{
    vertical-align:middle;
    height:25px;
    overflow:hidden;
}

.fui-pager-first
{    
    background:url(images/pager/first.gif) no-repeat;
}
.fui-pager-prev
{
    background-image:url(images/pager/prev.gif);
}
.fui-pager-next
{
    background-image:url(images/pager/next.gif);
}
.fui-pager-last
{
    background-image:url(images/pager/last.gif);
}
.fui-pager-reload
{
    background-image:url(images/pager/reload.png);
}