

.benma_ui_tab .tab_item1 {
	/*background-image: url(tab1.gif)
		background-repeat: repeat-x;
	width: 5px;
	z-index: 100;
	white-space: nowrap;
	*/;


}


.benma_ui_tab .tab_item2 {
	/*background-image: url(tab2.gif)
		background-repeat: repeat-x;
	white-space: nowrap;
	z-index: 101;
	*/;

}


.benma_ui_tab .tab_item3 {
	/*background-image: url(tab3.gif)
	
		background-repeat: repeat-x;
	width: 5px;*/;

}



.benma_ui_tab .tab_item1_bottom {
	/*background-image: url(tab1_bottom.gif)
		background-repeat: repeat-x;
	width: 5px;
	*/;

}

.benma_ui_tab .tab_item2_bottom {
	/*background-image: url(tab2_bottom.gif)
		background-repeat: repeat-x;
	*/;

}

.benma_ui_tab .tab_item3_bottom {
	/*background-image: url(tab3_bottom.gif)
		background-repeat: repeat-x;
	width: 5px;
	*/;

}
