<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>fui-workflow</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <logger name="io.buji" level="DEBUG"/>
    <logger name="org.pac4j.core.engine" level="DEBUG"/>
    <logger name="org.apache.shiro" level="DEBUG"/>
</configuration>