.fui-buttonedit
{
    width:125px;
    height:21px;
    display:inline-block;    
    vertical-align:middle;    
    overflow:hidden;	/*必须hidden*/
    /*position:static;*/
    position:relative;
}

.fui-buttonedit-border
{
    background:white;
    border: solid 1px #a5acb5;
    width:auto;
    height:19px;
    display:block;
    /*_display:inline-block;/*ie6*/
    position:relative;overflow:hidden;
    padding-right:22px;padding-left:1px;
}
.fui-buttonedit-buttons
{
    clear:both;position:absolute;right:0px;top:0px;    
    
}

.fui-buttonedit-input
{
	
    background:none;
    border: 0;     
    line-height:19px;    
    font-family: Verdana;
    font-size: 9pt;        
    padding: 0;
    margin:0;  
    outline:none;    
    z-index:1;
    cursor:text;    
    width:100%;height:19px;float:left;
    _position:absolute;/*ie6*/
    _left:2px;
    _top:0px;
}
.fui-buttonedit-button, .fui-buttonedit-close
{    
    border:0px;
    padding:1px;
    background:none;
    width:15px;height:15px;
    overflow:hidden;cursor:pointer;
    margin-top:1px;
    margin-right:1px;
    display:inline-block;
    z-index:10;    
    vertical-align:top;
}
.fui-buttonedit-close
{
    display:none;
    background:url(images/buttonedit/close.gif) no-repeat 50% 5px;
}

.fui-buttonedit-button-hover,
.fui-buttonedit-hover .fui-buttonedit-button
{
    border:1px solid #ababab;
    padding:0;
    background:#dde6fe url(images/buttonedit/hover.png) repeat-x 0 0;   
}
.fui-buttonedit-button-pressed,
.fui-buttonedit-popup .fui-buttonedit-button
{
    border:1px solid #888;
    padding:0;
    background:#DBDDE2 url(images/buttonedit/pressed.png) repeat-x 0 0;    
}

.fui-buttonedit-focus .fui-buttonedit-border,
.fui-buttonedit-popup .fui-buttonedit-border
{
    border-color:#808891;
}
.fui-buttonedit-hover,
.fui-buttonedit-hover .fui-buttonedit-input
{
    cursor:pointer;
}

.fui-buttonedit-disabled
{
    cursor:default;

}
body .fui-buttonedit-disabled .fui-buttonedit-border,
body .fui-buttonedit-disabled .fui-buttonedit-input
{
    background:#f0f0f0;color:#6D6D6D;cursor:default;
}
body .fui-buttonedit-disabled .fui-buttonedit-button
{
    cursor:default;background:#f0f0f0;border-color:#f0f0f0;
}
body .fui-buttonedit-disabled .fui-buttonedit-up,
body .fui-buttonedit-disabled .fui-buttonedit-down
{
    cursor:default;
}


/* empty */
.fui-buttonedit-empty .fui-buttonedit-input
{
    color:#B1B1B8;
}

.fui-buttonedit-icon
{
    display:block;
    width:15px;
    height:15px;
    overflow:hidden;
    background:url(images/buttonedit/icon1.gif) no-repeat 50% 50%;
}
.fui-popupedit .fui-buttonedit-icon
{
    background:url(images/buttonedit/icon2.gif) no-repeat 3px 1px;
}
.fui-datepicker .fui-buttonedit-icon
{
    background:url(images/datepicker/date.gif) no-repeat 50% 2px;
}
.fui-autocomplete .fui-buttonedit-icon
{
    display:none;
}

/* spinner */
.fui-buttonedit-up, .fui-buttonedit-down
{
    overflow:hidden;
    height:50%;    
    display:block;
    cursor:pointer;
    z-index:1;
}
.fui-buttonedit-up span, .fui-buttonedit-down span
{
    background:url(images/buttonedit/up.gif) no-repeat 50% 2px;   
    height:100%;
    height:100%;
    overflow:hidden;    
    display:block;
}
.fui-buttonedit-down span
{
    background:url(images/buttonedit/down.gif) no-repeat 50% 2px; 
}
.fui-buttonedit-button .fui-buttonedit-button-pressed
{
    border:0;
}

/***********************/
input.fui-textbox,
input.fui-buttonedit,
input.fui-datepicker,
input.fui-spinner,
input.fui-timespinner,
input.fui-combobox,
input.fui-treeselect,
input.fui-lookup,
input.fui-htmlfile,
input.fui-password,
input.fui-checkbox,
input.fui-textarea
{
    visibility:hidden;
    border:0;
    padding:0;
    height:21px;
    width:125px;
}
input.fui-textarea
{   
    height:50px;
}



/* error */
.fui-error .fui-buttonedit-border
{
    margin-right:18px;
}